=begin
#SpatioAPI

#The REST API that owns every resource in your Spatio workspace: notes, sheets, slides, tasks, calendar events, mail, chat, files, and contacts. SpatioMCP wraps this API; Spatio Desktop reads from it. You can call it directly from your own code.  All requests must be authenticated with a Personal Access Token (`Authorization: Bearer pat_...`) or an OAuth 2.1 access token, and use HTTPS.  Official SDKs (MIT, generated from this spec on every release):  - TypeScript: https://github.com/spatio-labs/spatio-ts (`npm install @spatio-labs/spatio-ts`) - Python: https://github.com/spatio-labs/spatio-py (`pip install spatio-sdk`) - Go: https://github.com/spatio-labs/spatio-go (`go get github.com/spatio-labs/spatio-go`)  This specification is generated from the platform-service Go source on every push to `main`. The spec, not hand-written documentation, is the source of truth: server stubs and SDKs are generated from it, and any drift between the spec and the running service fails CI. 

The version of the OpenAPI document: v1
Contact: hello@spatio.app
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Spatio
  class ActionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Renderer-side execute alias. The canonical endpoint is `POST /v1/agent/actions/execute`; this path delegates to the same handler. 
    # @param execute_action_request [ExecuteActionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ExecuteActionResponse]
    def execute_action(execute_action_request, opts = {})
      data, _status_code, _headers = execute_action_with_http_info(execute_action_request, opts)
      data
    end

    # Renderer-side execute alias. The canonical endpoint is &#x60;POST /v1/agent/actions/execute&#x60;; this path delegates to the same handler. 
    # @param execute_action_request [ExecuteActionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExecuteActionResponse, Integer, Hash)>] ExecuteActionResponse data, response status code and response headers
    def execute_action_with_http_info(execute_action_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActionsApi.execute_action ...'
      end
      # verify the required parameter 'execute_action_request' is set
      if @api_client.config.client_side_validation && execute_action_request.nil?
        fail ArgumentError, "Missing the required parameter 'execute_action_request' when calling ActionsApi.execute_action"
      end
      # resource path
      local_var_path = '/v1/actions/execute'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(execute_action_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ExecuteActionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ActionsApi.execute_action",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActionsApi#execute_action\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch a single core action by id.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CoreAction]
    def get_core_action(id, opts = {})
      data, _status_code, _headers = get_core_action_with_http_info(id, opts)
      data
    end

    # Fetch a single core action by id.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CoreAction, Integer, Hash)>] CoreAction data, response status code and response headers
    def get_core_action_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActionsApi.get_core_action ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActionsApi.get_core_action"
      end
      # resource path
      local_var_path = '/v1/actions/core/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CoreAction'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ActionsApi.get_core_action",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActionsApi#get_core_action\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List every action the agent platform exposes.
    # @param [Hash] opts the optional parameters
    # @return [Array<ActionDescriptor>]
    def list_available_actions(opts = {})
      data, _status_code, _headers = list_available_actions_with_http_info(opts)
      data
    end

    # List every action the agent platform exposes.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ActionDescriptor>, Integer, Hash)>] Array<ActionDescriptor> data, response status code and response headers
    def list_available_actions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActionsApi.list_available_actions ...'
      end
      # resource path
      local_var_path = '/v1/actions/available'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ActionDescriptor>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ActionsApi.list_available_actions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActionsApi#list_available_actions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List renderer-curated \"core actions\" (command-palette + keybindings backing).
    # @param [Hash] opts the optional parameters
    # @return [CoreActionListResponse]
    def list_core_actions(opts = {})
      data, _status_code, _headers = list_core_actions_with_http_info(opts)
      data
    end

    # List renderer-curated \&quot;core actions\&quot; (command-palette + keybindings backing).
    # @param [Hash] opts the optional parameters
    # @return [Array<(CoreActionListResponse, Integer, Hash)>] CoreActionListResponse data, response status code and response headers
    def list_core_actions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActionsApi.list_core_actions ...'
      end
      # resource path
      local_var_path = '/v1/actions/core'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CoreActionListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ActionsApi.list_core_actions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActionsApi#list_core_actions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Core actions filtered to one platform.
    # @param platform [String] 
    # @param [Hash] opts the optional parameters
    # @return [CoreActionListResponse]
    def list_core_actions_by_platform(platform, opts = {})
      data, _status_code, _headers = list_core_actions_by_platform_with_http_info(platform, opts)
      data
    end

    # Core actions filtered to one platform.
    # @param platform [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CoreActionListResponse, Integer, Hash)>] CoreActionListResponse data, response status code and response headers
    def list_core_actions_by_platform_with_http_info(platform, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActionsApi.list_core_actions_by_platform ...'
      end
      # verify the required parameter 'platform' is set
      if @api_client.config.client_side_validation && platform.nil?
        fail ArgumentError, "Missing the required parameter 'platform' when calling ActionsApi.list_core_actions_by_platform"
      end
      # resource path
      local_var_path = '/v1/actions/core/platform/{platform}'.sub('{platform}', CGI.escape(platform.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CoreActionListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ActionsApi.list_core_actions_by_platform",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActionsApi#list_core_actions_by_platform\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List actions tagged for a specific platform (notes, mail, ...).
    # @param platform [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<ActionDescriptor>]
    def list_platform_actions(platform, opts = {})
      data, _status_code, _headers = list_platform_actions_with_http_info(platform, opts)
      data
    end

    # List actions tagged for a specific platform (notes, mail, ...).
    # @param platform [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ActionDescriptor>, Integer, Hash)>] Array<ActionDescriptor> data, response status code and response headers
    def list_platform_actions_with_http_info(platform, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActionsApi.list_platform_actions ...'
      end
      # verify the required parameter 'platform' is set
      if @api_client.config.client_side_validation && platform.nil?
        fail ArgumentError, "Missing the required parameter 'platform' when calling ActionsApi.list_platform_actions"
      end
      # resource path
      local_var_path = '/v1/actions/platform/{platform}'.sub('{platform}', CGI.escape(platform.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ActionDescriptor>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ActionsApi.list_platform_actions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActionsApi#list_platform_actions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
