=begin
#SpatioAPI

#The REST API that owns every resource in your Spatio workspace: notes, sheets, slides, tasks, calendar events, mail, chat, files, and contacts. SpatioMCP wraps this API; Spatio Desktop reads from it. You can call it directly from your own code.  All requests must be authenticated with a Personal Access Token (`Authorization: Bearer pat_...`) or an OAuth 2.1 access token, and use HTTPS.  Official SDKs (MIT, generated from this spec on every release):  - TypeScript: https://github.com/spatio-labs/spatio-ts (`npm install @spatio/sdk-ts`) - Python: https://github.com/spatio-labs/spatio-py (`pip install spatio-sdk`) - Go: https://github.com/spatio-labs/spatio-go (`go get github.com/spatio-labs/spatio-go`)  This specification is generated from the platform-service Go source on every push to `main`. The spec, not hand-written documentation, is the source of truth: server stubs and SDKs are generated from it, and any drift between the spec and the running service fails CI. 

The version of the OpenAPI document: v1
Contact: hello@spatio.app
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Spatio
  class AgentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new agent configuration.
    # @param create_agent_request [CreateAgentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Agent]
    def create_agent(create_agent_request, opts = {})
      data, _status_code, _headers = create_agent_with_http_info(create_agent_request, opts)
      data
    end

    # Create a new agent configuration.
    # @param create_agent_request [CreateAgentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Agent, Integer, Hash)>] Agent data, response status code and response headers
    def create_agent_with_http_info(create_agent_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.create_agent ...'
      end
      # verify the required parameter 'create_agent_request' is set
      if @api_client.config.client_side_validation && create_agent_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_agent_request' when calling AgentsApi.create_agent"
      end
      # resource path
      local_var_path = '/v1/agents'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_agent_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Agent'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.create_agent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#create_agent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new agent-platform conversation.
    # @param [Hash] opts the optional parameters
    # @option opts [CreateAgentConversationRequest] :create_agent_conversation_request 
    # @return [AgentConversation]
    def create_agent_conversation(opts = {})
      data, _status_code, _headers = create_agent_conversation_with_http_info(opts)
      data
    end

    # Create a new agent-platform conversation.
    # @param [Hash] opts the optional parameters
    # @option opts [CreateAgentConversationRequest] :create_agent_conversation_request 
    # @return [Array<(AgentConversation, Integer, Hash)>] AgentConversation data, response status code and response headers
    def create_agent_conversation_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.create_agent_conversation ...'
      end
      # resource path
      local_var_path = '/v1/agent/conversations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_agent_conversation_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AgentConversation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.create_agent_conversation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#create_agent_conversation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Append a message to an agent conversation.
    # @param id [String] 
    # @param create_agent_message_request [CreateAgentMessageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AgentMessage]
    def create_agent_message(id, create_agent_message_request, opts = {})
      data, _status_code, _headers = create_agent_message_with_http_info(id, create_agent_message_request, opts)
      data
    end

    # Append a message to an agent conversation.
    # @param id [String] 
    # @param create_agent_message_request [CreateAgentMessageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgentMessage, Integer, Hash)>] AgentMessage data, response status code and response headers
    def create_agent_message_with_http_info(id, create_agent_message_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.create_agent_message ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AgentsApi.create_agent_message"
      end
      # verify the required parameter 'create_agent_message_request' is set
      if @api_client.config.client_side_validation && create_agent_message_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_agent_message_request' when calling AgentsApi.create_agent_message"
      end
      # resource path
      local_var_path = '/v1/agent/conversations/{id}/messages'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_agent_message_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AgentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.create_agent_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#create_agent_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an agent configuration.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_agent(id, opts = {})
      delete_agent_with_http_info(id, opts)
      nil
    end

    # Delete an agent configuration.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_agent_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.delete_agent ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AgentsApi.delete_agent"
      end
      # resource path
      local_var_path = '/v1/agents/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.delete_agent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#delete_agent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Execute an action through the agent platform.
    # @param execute_action_request [ExecuteActionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ExecuteActionResponse]
    def execute_agent_action(execute_action_request, opts = {})
      data, _status_code, _headers = execute_agent_action_with_http_info(execute_action_request, opts)
      data
    end

    # Execute an action through the agent platform.
    # @param execute_action_request [ExecuteActionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExecuteActionResponse, Integer, Hash)>] ExecuteActionResponse data, response status code and response headers
    def execute_agent_action_with_http_info(execute_action_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.execute_agent_action ...'
      end
      # verify the required parameter 'execute_action_request' is set
      if @api_client.config.client_side_validation && execute_action_request.nil?
        fail ArgumentError, "Missing the required parameter 'execute_action_request' when calling AgentsApi.execute_agent_action"
      end
      # resource path
      local_var_path = '/v1/agent/actions/execute'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(execute_action_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ExecuteActionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.execute_agent_action",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#execute_agent_action\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch one agent configuration.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Agent]
    def get_agent(id, opts = {})
      data, _status_code, _headers = get_agent_with_http_info(id, opts)
      data
    end

    # Fetch one agent configuration.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Agent, Integer, Hash)>] Agent data, response status code and response headers
    def get_agent_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.get_agent ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AgentsApi.get_agent"
      end
      # resource path
      local_var_path = '/v1/agents/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Agent'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.get_agent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#get_agent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch one agent conversation.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AgentConversation]
    def get_agent_conversation(id, opts = {})
      data, _status_code, _headers = get_agent_conversation_with_http_info(id, opts)
      data
    end

    # Fetch one agent conversation.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgentConversation, Integer, Hash)>] AgentConversation data, response status code and response headers
    def get_agent_conversation_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.get_agent_conversation ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AgentsApi.get_agent_conversation"
      end
      # resource path
      local_var_path = '/v1/agent/conversations/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AgentConversation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.get_agent_conversation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#get_agent_conversation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Identity bundle for the SessionStart hook (user + org + workspace + connected accounts) so the agent doesn't fish on its first turn. 
    # @param [Hash] opts the optional parameters
    # @return [AgentSessionContext]
    def get_agent_session_context(opts = {})
      data, _status_code, _headers = get_agent_session_context_with_http_info(opts)
      data
    end

    # Identity bundle for the SessionStart hook (user + org + workspace + connected accounts) so the agent doesn&#39;t fish on its first turn. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgentSessionContext, Integer, Hash)>] AgentSessionContext data, response status code and response headers
    def get_agent_session_context_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.get_agent_session_context ...'
      end
      # resource path
      local_var_path = '/v1/agent/session-context'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AgentSessionContext'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.get_agent_session_context",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#get_agent_session_context\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List messages on an agent conversation.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AgentMessageListResponse]
    def list_agent_conversation_messages(id, opts = {})
      data, _status_code, _headers = list_agent_conversation_messages_with_http_info(id, opts)
      data
    end

    # List messages on an agent conversation.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgentMessageListResponse, Integer, Hash)>] AgentMessageListResponse data, response status code and response headers
    def list_agent_conversation_messages_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.list_agent_conversation_messages ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AgentsApi.list_agent_conversation_messages"
      end
      # resource path
      local_var_path = '/v1/agent/conversations/{id}/messages'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AgentMessageListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.list_agent_conversation_messages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#list_agent_conversation_messages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the caller's agent-platform conversations. Distinct from `/v1/conversations` (renderer-driven sidebar persistence). 
    # @param [Hash] opts the optional parameters
    # @return [AgentConversationListResponse]
    def list_agent_conversations(opts = {})
      data, _status_code, _headers = list_agent_conversations_with_http_info(opts)
      data
    end

    # List the caller&#39;s agent-platform conversations. Distinct from &#x60;/v1/conversations&#x60; (renderer-driven sidebar persistence). 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgentConversationListResponse, Integer, Hash)>] AgentConversationListResponse data, response status code and response headers
    def list_agent_conversations_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.list_agent_conversations ...'
      end
      # resource path
      local_var_path = '/v1/agent/conversations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AgentConversationListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.list_agent_conversations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#list_agent_conversations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the caller's agent configurations.
    # @param [Hash] opts the optional parameters
    # @return [AgentListResponse]
    def list_agents(opts = {})
      data, _status_code, _headers = list_agents_with_http_info(opts)
      data
    end

    # List the caller&#39;s agent configurations.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgentListResponse, Integer, Hash)>] AgentListResponse data, response status code and response headers
    def list_agents_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.list_agents ...'
      end
      # resource path
      local_var_path = '/v1/agents'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AgentListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.list_agents",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#list_agents\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Curated featured agents (e.g. \"Claude Code\", \"Research Assistant\"). Read-only — these are surfaced by the renderer's preconfigured-picker UI. 
    # @param [Hash] opts the optional parameters
    # @return [Array<PreconfiguredAgent>]
    def list_preconfigured_agents(opts = {})
      data, _status_code, _headers = list_preconfigured_agents_with_http_info(opts)
      data
    end

    # Curated featured agents (e.g. \&quot;Claude Code\&quot;, \&quot;Research Assistant\&quot;). Read-only — these are surfaced by the renderer&#39;s preconfigured-picker UI. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<PreconfiguredAgent>, Integer, Hash)>] Array<PreconfiguredAgent> data, response status code and response headers
    def list_preconfigured_agents_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.list_preconfigured_agents ...'
      end
      # resource path
      local_var_path = '/v1/agents/preconfigured'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<PreconfiguredAgent>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.list_preconfigured_agents",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#list_preconfigured_agents\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an agent configuration.
    # @param id [String] 
    # @param update_agent_request [UpdateAgentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Agent]
    def update_agent(id, update_agent_request, opts = {})
      data, _status_code, _headers = update_agent_with_http_info(id, update_agent_request, opts)
      data
    end

    # Update an agent configuration.
    # @param id [String] 
    # @param update_agent_request [UpdateAgentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Agent, Integer, Hash)>] Agent data, response status code and response headers
    def update_agent_with_http_info(id, update_agent_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.update_agent ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AgentsApi.update_agent"
      end
      # verify the required parameter 'update_agent_request' is set
      if @api_client.config.client_side_validation && update_agent_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_agent_request' when calling AgentsApi.update_agent"
      end
      # resource path
      local_var_path = '/v1/agents/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_agent_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Agent'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.update_agent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#update_agent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
