=begin
#SpatioAPI

#The REST API that owns every resource in your Spatio workspace: notes, sheets, slides, tasks, calendar events, mail, chat, files, and contacts. SpatioMCP wraps this API; Spatio Desktop reads from it. You can call it directly from your own code.  All requests must be authenticated with a Personal Access Token (`Authorization: Bearer pat_...`) or an OAuth 2.1 access token, and use HTTPS.  Official SDKs (MIT, generated from this spec on every release):  - TypeScript: https://github.com/spatio-labs/spatio-ts (`npm install @spatio-labs/spatio-ts`) - Python: https://github.com/spatio-labs/spatio-py (`pip install spatio-sdk`) - Go: https://github.com/spatio-labs/spatio-go (`go get github.com/spatio-labs/spatio-go`)  This specification is generated from the platform-service Go source on every push to `main`. The spec, not hand-written documentation, is the source of truth: server stubs and SDKs are generated from it, and any drift between the spec and the running service fails CI. 

The version of the OpenAPI document: v1
Contact: hello@spatio.app
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Spatio
  class CalendarApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a calendar event.
    # Single-account create. `account_id` is required (no auto-resolve for write operations). Reminder array is mirrored into native tasks under the hood; conference data is auto-attached when `conference_type` is supplied. 
    # @param create_event_request [CreateEventRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [CreateCalendarEvent201Response]
    def create_calendar_event(create_event_request, opts = {})
      data, _status_code, _headers = create_calendar_event_with_http_info(create_event_request, opts)
      data
    end

    # Create a calendar event.
    # Single-account create. &#x60;account_id&#x60; is required (no auto-resolve for write operations). Reminder array is mirrored into native tasks under the hood; conference data is auto-attached when &#x60;conference_type&#x60; is supplied. 
    # @param create_event_request [CreateEventRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [Array<(CreateCalendarEvent201Response, Integer, Hash)>] CreateCalendarEvent201Response data, response status code and response headers
    def create_calendar_event_with_http_info(create_event_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarApi.create_calendar_event ...'
      end
      # verify the required parameter 'create_event_request' is set
      if @api_client.config.client_side_validation && create_event_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_event_request' when calling CalendarApi.create_calendar_event"
      end
      # resource path
      local_var_path = '/v1/calendar/events'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Workspace-ID'] = opts[:'x_workspace_id'] if !opts[:'x_workspace_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_event_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCalendarEvent201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarApi.create_calendar_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarApi#create_calendar_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an event.
    # Hard delete (no soft-delete / trash). Cascades to any reminder tasks the platform created from this event. 
    # @param id [String] Event id.
    # @param account_id [String] Connected-account id (snake_case in this platform — the rest of the SpatioAPI uses &#x60;accountId&#x60;). Required for single-event operations. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [CalendarOperationResult]
    def delete_calendar_event(id, account_id, opts = {})
      data, _status_code, _headers = delete_calendar_event_with_http_info(id, account_id, opts)
      data
    end

    # Delete an event.
    # Hard delete (no soft-delete / trash). Cascades to any reminder tasks the platform created from this event. 
    # @param id [String] Event id.
    # @param account_id [String] Connected-account id (snake_case in this platform — the rest of the SpatioAPI uses &#x60;accountId&#x60;). Required for single-event operations. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [Array<(CalendarOperationResult, Integer, Hash)>] CalendarOperationResult data, response status code and response headers
    def delete_calendar_event_with_http_info(id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarApi.delete_calendar_event ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CalendarApi.delete_calendar_event"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CalendarApi.delete_calendar_event"
      end
      # resource path
      local_var_path = '/v1/calendar/events/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'account_id'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Workspace-ID'] = opts[:'x_workspace_id'] if !opts[:'x_workspace_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CalendarOperationResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarApi.delete_calendar_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarApi#delete_calendar_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Per-account capability flags.
    # Returns the capabilities the provider declares for the given connected account. The renderer uses these to enable/disable form fields (recurrence picker, attendee inputs, etc.). 
    # @param account_id [String] Connected-account id (snake_case in this platform — the rest of the SpatioAPI uses &#x60;accountId&#x60;). Required for single-event operations. 
    # @param [Hash] opts the optional parameters
    # @return [CalendarCapabilitiesResponse]
    def get_calendar_capabilities(account_id, opts = {})
      data, _status_code, _headers = get_calendar_capabilities_with_http_info(account_id, opts)
      data
    end

    # Per-account capability flags.
    # Returns the capabilities the provider declares for the given connected account. The renderer uses these to enable/disable form fields (recurrence picker, attendee inputs, etc.). 
    # @param account_id [String] Connected-account id (snake_case in this platform — the rest of the SpatioAPI uses &#x60;accountId&#x60;). Required for single-event operations. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CalendarCapabilitiesResponse, Integer, Hash)>] CalendarCapabilitiesResponse data, response status code and response headers
    def get_calendar_capabilities_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarApi.get_calendar_capabilities ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CalendarApi.get_calendar_capabilities"
      end
      # resource path
      local_var_path = '/v1/calendar/capabilities'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'account_id'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CalendarCapabilitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarApi.get_calendar_capabilities",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarApi#get_calendar_capabilities\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch one event.
    # Requires `?account_id=` to identify the source account. Response is the bare `Event` (not wrapped in CalendarOperationResult — distinct from the list/create/update shapes). 
    # @param id [String] Event id.
    # @param account_id [String] Connected-account id (snake_case in this platform — the rest of the SpatioAPI uses &#x60;accountId&#x60;). Required for single-event operations. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [SpatioEvent]
    def get_calendar_event(id, account_id, opts = {})
      data, _status_code, _headers = get_calendar_event_with_http_info(id, account_id, opts)
      data
    end

    # Fetch one event.
    # Requires &#x60;?account_id&#x3D;&#x60; to identify the source account. Response is the bare &#x60;Event&#x60; (not wrapped in CalendarOperationResult — distinct from the list/create/update shapes). 
    # @param id [String] Event id.
    # @param account_id [String] Connected-account id (snake_case in this platform — the rest of the SpatioAPI uses &#x60;accountId&#x60;). Required for single-event operations. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [Array<(SpatioEvent, Integer, Hash)>] SpatioEvent data, response status code and response headers
    def get_calendar_event_with_http_info(id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarApi.get_calendar_event ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CalendarApi.get_calendar_event"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CalendarApi.get_calendar_event"
      end
      # resource path
      local_var_path = '/v1/calendar/events/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'account_id'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Workspace-ID'] = opts[:'x_workspace_id'] if !opts[:'x_workspace_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SpatioEvent'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarApi.get_calendar_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarApi#get_calendar_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List calendar events across connected accounts.
    # Fan-out list. Returns events across every connected calendar provider unless filtered by `account_ids[]` or `providers[]`. Supports the cross-platform repeated-or-comma-separated filter syntax (`?account_ids=a&account_ids=b` or `?account_ids=a,b`).  Time bounds (`timeMin` / `timeMax`) accept both RFC3339 and RFC3339Nano. The handler also accepts the snake_case `time_min` / `time_max` for direct curl callers; the spec models the camelCase form because that's what the renderer and SDKs use. 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :account_ids Repeatable. Restrict to specific connected accounts.
    # @option opts [Array<String>] :providers Repeatable. Restrict to provider ids (&#x60;google-calendar&#x60;, etc.).
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @option opts [Time] :time_min Inclusive lower-bound time. RFC3339 or RFC3339Nano.
    # @option opts [Time] :time_max Inclusive upper-bound time.
    # @option opts [Integer] :limit Max events to return per page (default 50). (default to 50)
    # @return [ListCalendarEvents200Response]
    def list_calendar_events(opts = {})
      data, _status_code, _headers = list_calendar_events_with_http_info(opts)
      data
    end

    # List calendar events across connected accounts.
    # Fan-out list. Returns events across every connected calendar provider unless filtered by &#x60;account_ids[]&#x60; or &#x60;providers[]&#x60;. Supports the cross-platform repeated-or-comma-separated filter syntax (&#x60;?account_ids&#x3D;a&amp;account_ids&#x3D;b&#x60; or &#x60;?account_ids&#x3D;a,b&#x60;).  Time bounds (&#x60;timeMin&#x60; / &#x60;timeMax&#x60;) accept both RFC3339 and RFC3339Nano. The handler also accepts the snake_case &#x60;time_min&#x60; / &#x60;time_max&#x60; for direct curl callers; the spec models the camelCase form because that&#39;s what the renderer and SDKs use. 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :account_ids Repeatable. Restrict to specific connected accounts.
    # @option opts [Array<String>] :providers Repeatable. Restrict to provider ids (&#x60;google-calendar&#x60;, etc.).
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @option opts [Time] :time_min Inclusive lower-bound time. RFC3339 or RFC3339Nano.
    # @option opts [Time] :time_max Inclusive upper-bound time.
    # @option opts [Integer] :limit Max events to return per page (default 50). (default to 50)
    # @return [Array<(ListCalendarEvents200Response, Integer, Hash)>] ListCalendarEvents200Response data, response status code and response headers
    def list_calendar_events_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarApi.list_calendar_events ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CalendarApi.list_calendar_events, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/calendar/events'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'account_ids'] = @api_client.build_collection_param(opts[:'account_ids'], :multi) if !opts[:'account_ids'].nil?
      query_params[:'providers'] = @api_client.build_collection_param(opts[:'providers'], :multi) if !opts[:'providers'].nil?
      query_params[:'timeMin'] = opts[:'time_min'] if !opts[:'time_min'].nil?
      query_params[:'timeMax'] = opts[:'time_max'] if !opts[:'time_max'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Workspace-ID'] = opts[:'x_workspace_id'] if !opts[:'x_workspace_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListCalendarEvents200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarApi.list_calendar_events",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarApi#list_calendar_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List supported calendar providers.
    # Static list of provider ids the Calendar platform can connect to. Returned regardless of which providers the caller has actually authorized. 
    # @param [Hash] opts the optional parameters
    # @return [CalendarProvidersInfo]
    def list_calendar_providers(opts = {})
      data, _status_code, _headers = list_calendar_providers_with_http_info(opts)
      data
    end

    # List supported calendar providers.
    # Static list of provider ids the Calendar platform can connect to. Returned regardless of which providers the caller has actually authorized. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CalendarProvidersInfo, Integer, Hash)>] CalendarProvidersInfo data, response status code and response headers
    def list_calendar_providers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarApi.list_calendar_providers ...'
      end
      # resource path
      local_var_path = '/v1/calendar/providers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CalendarProvidersInfo'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarApi.list_calendar_providers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarApi#list_calendar_providers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Trigger a sync across connected calendar accounts.
    # Enqueues sync jobs (one per connected calendar account) and returns immediately with the job ids. Pass `?wait=true` to block until all jobs complete (10-second polling budget); the response is then `200` with `waited: true` and a `timed_out` flag if any job didn't finish in time. 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :wait Block until all sync jobs finish (10s timeout). (default to false)
    # @return [CalendarSyncResponse]
    def sync_calendar(opts = {})
      data, _status_code, _headers = sync_calendar_with_http_info(opts)
      data
    end

    # Trigger a sync across connected calendar accounts.
    # Enqueues sync jobs (one per connected calendar account) and returns immediately with the job ids. Pass &#x60;?wait&#x3D;true&#x60; to block until all jobs complete (10-second polling budget); the response is then &#x60;200&#x60; with &#x60;waited: true&#x60; and a &#x60;timed_out&#x60; flag if any job didn&#39;t finish in time. 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :wait Block until all sync jobs finish (10s timeout). (default to false)
    # @return [Array<(CalendarSyncResponse, Integer, Hash)>] CalendarSyncResponse data, response status code and response headers
    def sync_calendar_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarApi.sync_calendar ...'
      end
      # resource path
      local_var_path = '/v1/calendar/sync'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'wait'] = opts[:'wait'] if !opts[:'wait'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CalendarSyncResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarApi.sync_calendar",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarApi#sync_calendar\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an event (sparse).
    # Partial update. `account_id` may be supplied in the body (preferred) or as `?account_id=` query param — the renderer's update path puts it in the URL while create puts it in the body. `updates` is a free-form map; the platform's capability gate rejects fields the provider doesn't support. 
    # @param id [String] Event id.
    # @param update_event_request [UpdateEventRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @option opts [String] :account_id Optional account-id filter (snake_case).
    # @return [CreateCalendarEvent201Response]
    def update_calendar_event(id, update_event_request, opts = {})
      data, _status_code, _headers = update_calendar_event_with_http_info(id, update_event_request, opts)
      data
    end

    # Update an event (sparse).
    # Partial update. &#x60;account_id&#x60; may be supplied in the body (preferred) or as &#x60;?account_id&#x3D;&#x60; query param — the renderer&#39;s update path puts it in the URL while create puts it in the body. &#x60;updates&#x60; is a free-form map; the platform&#39;s capability gate rejects fields the provider doesn&#39;t support. 
    # @param id [String] Event id.
    # @param update_event_request [UpdateEventRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @option opts [String] :account_id Optional account-id filter (snake_case).
    # @return [Array<(CreateCalendarEvent201Response, Integer, Hash)>] CreateCalendarEvent201Response data, response status code and response headers
    def update_calendar_event_with_http_info(id, update_event_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarApi.update_calendar_event ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CalendarApi.update_calendar_event"
      end
      # verify the required parameter 'update_event_request' is set
      if @api_client.config.client_side_validation && update_event_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_event_request' when calling CalendarApi.update_calendar_event"
      end
      # resource path
      local_var_path = '/v1/calendar/events/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'account_id'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Workspace-ID'] = opts[:'x_workspace_id'] if !opts[:'x_workspace_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_event_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCalendarEvent201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarApi.update_calendar_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarApi#update_calendar_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Workspace-scoped create-event (RBAC-protected).
    # @param org [String] 
    # @param workspace [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def workspace_create_calendar_event(org, workspace, request_body, opts = {})
      data, _status_code, _headers = workspace_create_calendar_event_with_http_info(org, workspace, request_body, opts)
      data
    end

    # Workspace-scoped create-event (RBAC-protected).
    # @param org [String] 
    # @param workspace [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def workspace_create_calendar_event_with_http_info(org, workspace, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarApi.workspace_create_calendar_event ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling CalendarApi.workspace_create_calendar_event"
      end
      # verify the required parameter 'workspace' is set
      if @api_client.config.client_side_validation && workspace.nil?
        fail ArgumentError, "Missing the required parameter 'workspace' when calling CalendarApi.workspace_create_calendar_event"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling CalendarApi.workspace_create_calendar_event"
      end
      # resource path
      local_var_path = '/v1/organizations/{org}/workspaces/{workspace}/calendar/events'.sub('{org}', CGI.escape(org.to_s)).sub('{workspace}', CGI.escape(workspace.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarApi.workspace_create_calendar_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarApi#workspace_create_calendar_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def workspace_delete_calendar_event(org, workspace, id, opts = {})
      workspace_delete_calendar_event_with_http_info(org, workspace, id, opts)
      nil
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def workspace_delete_calendar_event_with_http_info(org, workspace, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarApi.workspace_delete_calendar_event ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling CalendarApi.workspace_delete_calendar_event"
      end
      # verify the required parameter 'workspace' is set
      if @api_client.config.client_side_validation && workspace.nil?
        fail ArgumentError, "Missing the required parameter 'workspace' when calling CalendarApi.workspace_delete_calendar_event"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CalendarApi.workspace_delete_calendar_event"
      end
      # resource path
      local_var_path = '/v1/organizations/{org}/workspaces/{workspace}/calendar/events/{id}'.sub('{org}', CGI.escape(org.to_s)).sub('{workspace}', CGI.escape(workspace.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarApi.workspace_delete_calendar_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarApi#workspace_delete_calendar_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def workspace_get_calendar_event(org, workspace, id, opts = {})
      data, _status_code, _headers = workspace_get_calendar_event_with_http_info(org, workspace, id, opts)
      data
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def workspace_get_calendar_event_with_http_info(org, workspace, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarApi.workspace_get_calendar_event ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling CalendarApi.workspace_get_calendar_event"
      end
      # verify the required parameter 'workspace' is set
      if @api_client.config.client_side_validation && workspace.nil?
        fail ArgumentError, "Missing the required parameter 'workspace' when calling CalendarApi.workspace_get_calendar_event"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CalendarApi.workspace_get_calendar_event"
      end
      # resource path
      local_var_path = '/v1/organizations/{org}/workspaces/{workspace}/calendar/events/{id}'.sub('{org}', CGI.escape(org.to_s)).sub('{workspace}', CGI.escape(workspace.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarApi.workspace_get_calendar_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarApi#workspace_get_calendar_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Workspace-scoped list-events (RBAC-protected).
    # @param org [String] 
    # @param workspace [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def workspace_list_calendar_events(org, workspace, opts = {})
      data, _status_code, _headers = workspace_list_calendar_events_with_http_info(org, workspace, opts)
      data
    end

    # Workspace-scoped list-events (RBAC-protected).
    # @param org [String] 
    # @param workspace [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def workspace_list_calendar_events_with_http_info(org, workspace, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarApi.workspace_list_calendar_events ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling CalendarApi.workspace_list_calendar_events"
      end
      # verify the required parameter 'workspace' is set
      if @api_client.config.client_side_validation && workspace.nil?
        fail ArgumentError, "Missing the required parameter 'workspace' when calling CalendarApi.workspace_list_calendar_events"
      end
      # resource path
      local_var_path = '/v1/organizations/{org}/workspaces/{workspace}/calendar/events'.sub('{org}', CGI.escape(org.to_s)).sub('{workspace}', CGI.escape(workspace.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarApi.workspace_list_calendar_events",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarApi#workspace_list_calendar_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Workspace-scoped calendar providers.
    # @param org [String] 
    # @param workspace [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def workspace_list_calendar_providers(org, workspace, opts = {})
      data, _status_code, _headers = workspace_list_calendar_providers_with_http_info(org, workspace, opts)
      data
    end

    # Workspace-scoped calendar providers.
    # @param org [String] 
    # @param workspace [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def workspace_list_calendar_providers_with_http_info(org, workspace, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarApi.workspace_list_calendar_providers ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling CalendarApi.workspace_list_calendar_providers"
      end
      # verify the required parameter 'workspace' is set
      if @api_client.config.client_side_validation && workspace.nil?
        fail ArgumentError, "Missing the required parameter 'workspace' when calling CalendarApi.workspace_list_calendar_providers"
      end
      # resource path
      local_var_path = '/v1/organizations/{org}/workspaces/{workspace}/calendar/providers'.sub('{org}', CGI.escape(org.to_s)).sub('{workspace}', CGI.escape(workspace.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarApi.workspace_list_calendar_providers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarApi#workspace_list_calendar_providers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param id [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def workspace_update_calendar_event(org, workspace, id, request_body, opts = {})
      data, _status_code, _headers = workspace_update_calendar_event_with_http_info(org, workspace, id, request_body, opts)
      data
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param id [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def workspace_update_calendar_event_with_http_info(org, workspace, id, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarApi.workspace_update_calendar_event ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling CalendarApi.workspace_update_calendar_event"
      end
      # verify the required parameter 'workspace' is set
      if @api_client.config.client_side_validation && workspace.nil?
        fail ArgumentError, "Missing the required parameter 'workspace' when calling CalendarApi.workspace_update_calendar_event"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CalendarApi.workspace_update_calendar_event"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling CalendarApi.workspace_update_calendar_event"
      end
      # resource path
      local_var_path = '/v1/organizations/{org}/workspaces/{workspace}/calendar/events/{id}'.sub('{org}', CGI.escape(org.to_s)).sub('{workspace}', CGI.escape(workspace.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarApi.workspace_update_calendar_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarApi#workspace_update_calendar_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
