=begin
#SpatioAPI

#The REST API that owns every resource in your Spatio workspace: notes, sheets, slides, tasks, calendar events, mail, chat, files, and contacts. SpatioMCP wraps this API; Spatio Desktop reads from it. You can call it directly from your own code.  All requests must be authenticated with a Personal Access Token (`Authorization: Bearer pat_...`) or an OAuth 2.1 access token, and use HTTPS.  Official SDKs (MIT, generated from this spec on every release):  - TypeScript: https://github.com/spatio-labs/spatio-ts (`npm install @spatio/sdk-ts`) - Python: https://github.com/spatio-labs/spatio-py (`pip install spatio-sdk`) - Go: https://github.com/spatio-labs/spatio-go (`go get github.com/spatio-labs/spatio-go`)  This specification is generated from the platform-service Go source on every push to `main`. The spec, not hand-written documentation, is the source of truth: server stubs and SDKs are generated from it, and any drift between the spec and the running service fails CI. 

The version of the OpenAPI document: v1
Contact: hello@spatio.app
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Spatio
  class DirectMessagesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # React to a DM message.
    # @param message_id [String] Chat-message id.
    # @param dm_reaction_request [DMReactionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DMReactionResponse]
    def add_dm_reaction(message_id, dm_reaction_request, opts = {})
      data, _status_code, _headers = add_dm_reaction_with_http_info(message_id, dm_reaction_request, opts)
      data
    end

    # React to a DM message.
    # @param message_id [String] Chat-message id.
    # @param dm_reaction_request [DMReactionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DMReactionResponse, Integer, Hash)>] DMReactionResponse data, response status code and response headers
    def add_dm_reaction_with_http_info(message_id, dm_reaction_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.add_dm_reaction ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling DirectMessagesApi.add_dm_reaction"
      end
      # verify the required parameter 'dm_reaction_request' is set
      if @api_client.config.client_side_validation && dm_reaction_request.nil?
        fail ArgumentError, "Missing the required parameter 'dm_reaction_request' when calling DirectMessagesApi.add_dm_reaction"
      end
      # resource path
      local_var_path = '/v1/direct-messages/messages/{messageId}/reactions'.sub('{messageId}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(dm_reaction_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DMReactionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.add_dm_reaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#add_dm_reaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Attach a file/image/etc. to an existing DM message.
    # @param message_id [String] Chat-message id.
    # @param dm_attach_request [DMAttachRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DMMessageEnvelope]
    def attach_to_dm_message(message_id, dm_attach_request, opts = {})
      data, _status_code, _headers = attach_to_dm_message_with_http_info(message_id, dm_attach_request, opts)
      data
    end

    # Attach a file/image/etc. to an existing DM message.
    # @param message_id [String] Chat-message id.
    # @param dm_attach_request [DMAttachRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DMMessageEnvelope, Integer, Hash)>] DMMessageEnvelope data, response status code and response headers
    def attach_to_dm_message_with_http_info(message_id, dm_attach_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.attach_to_dm_message ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling DirectMessagesApi.attach_to_dm_message"
      end
      # verify the required parameter 'dm_attach_request' is set
      if @api_client.config.client_side_validation && dm_attach_request.nil?
        fail ArgumentError, "Missing the required parameter 'dm_attach_request' when calling DirectMessagesApi.attach_to_dm_message"
      end
      # resource path
      local_var_path = '/v1/direct-messages/messages/{messageId}/attachments'.sub('{messageId}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(dm_attach_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DMMessageEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.attach_to_dm_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#attach_to_dm_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Dispatch a DM action by id.
    # @param execute_chat_action_request [ExecuteChatActionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ExecuteChatActionResponse]
    def execute_dm_action(execute_chat_action_request, opts = {})
      data, _status_code, _headers = execute_dm_action_with_http_info(execute_chat_action_request, opts)
      data
    end

    # Dispatch a DM action by id.
    # @param execute_chat_action_request [ExecuteChatActionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExecuteChatActionResponse, Integer, Hash)>] ExecuteChatActionResponse data, response status code and response headers
    def execute_dm_action_with_http_info(execute_chat_action_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.execute_dm_action ...'
      end
      # verify the required parameter 'execute_chat_action_request' is set
      if @api_client.config.client_side_validation && execute_chat_action_request.nil?
        fail ArgumentError, "Missing the required parameter 'execute_chat_action_request' when calling DirectMessagesApi.execute_dm_action"
      end
      # resource path
      local_var_path = '/v1/direct-messages/execute'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(execute_chat_action_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ExecuteChatActionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.execute_dm_action",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#execute_dm_action\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Forward a DM message to another DM or channel.
    # @param message_id [String] Chat-message id.
    # @param dm_forward_request [DMForwardRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DMMessageEnvelope]
    def forward_dm_message(message_id, dm_forward_request, opts = {})
      data, _status_code, _headers = forward_dm_message_with_http_info(message_id, dm_forward_request, opts)
      data
    end

    # Forward a DM message to another DM or channel.
    # @param message_id [String] Chat-message id.
    # @param dm_forward_request [DMForwardRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DMMessageEnvelope, Integer, Hash)>] DMMessageEnvelope data, response status code and response headers
    def forward_dm_message_with_http_info(message_id, dm_forward_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.forward_dm_message ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling DirectMessagesApi.forward_dm_message"
      end
      # verify the required parameter 'dm_forward_request' is set
      if @api_client.config.client_side_validation && dm_forward_request.nil?
        fail ArgumentError, "Missing the required parameter 'dm_forward_request' when calling DirectMessagesApi.forward_dm_message"
      end
      # resource path
      local_var_path = '/v1/direct-messages/messages/{messageId}/forward'.sub('{messageId}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(dm_forward_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DMMessageEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.forward_dm_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#forward_dm_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch one chat user.
    # @param id [String] Chat-user id (provider-scoped).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id 
    # @return [GetChatUserResponse]
    def get_dm_user(id, opts = {})
      data, _status_code, _headers = get_dm_user_with_http_info(id, opts)
      data
    end

    # Fetch one chat user.
    # @param id [String] Chat-user id (provider-scoped).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id 
    # @return [Array<(GetChatUserResponse, Integer, Hash)>] GetChatUserResponse data, response status code and response headers
    def get_dm_user_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.get_dm_user ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DirectMessagesApi.get_dm_user"
      end
      # resource path
      local_var_path = '/v1/direct-messages/users/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetChatUserResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.get_dm_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#get_dm_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Enriched DM conversation list with unread + pin + draft state.
    # Native fast-path. Returns conversations augmented with the DM-feature state (unread counts, pinned/muted flags, saved drafts) the renderer's DM UI consumes. The shape is provider-specific and treated as opaque. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id 
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [Hash<String, Object>]
    def list_direct_conversations_enriched(opts = {})
      data, _status_code, _headers = list_direct_conversations_enriched_with_http_info(opts)
      data
    end

    # Enriched DM conversation list with unread + pin + draft state.
    # Native fast-path. Returns conversations augmented with the DM-feature state (unread counts, pinned/muted flags, saved drafts) the renderer&#39;s DM UI consumes. The shape is provider-specific and treated as opaque. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id 
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def list_direct_conversations_enriched_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.list_direct_conversations_enriched ...'
      end
      # resource path
      local_var_path = '/v1/direct-messages/conversations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Workspace-ID'] = opts[:'x_workspace_id'] if !opts[:'x_workspace_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.list_direct_conversations_enriched",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#list_direct_conversations_enriched\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List 1:1 and group DM conversations.
    # Returns DM-type conversations only (`type: im | mpim`). Channel-type conversations are surfaced via `/v1/channels`. 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :account_ids Repeatable. Restrict to these connected-account row ids. Mutually orthogonal to &#x60;providers&#x60; — when both are set the intersection is used. 
    # @option opts [Array<String>] :providers Repeatable. Restrict to these provider ids (&#x60;gmail&#x60;, &#x60;outlook&#x60;).
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @option opts [Integer] :limit 
    # @option opts [String] :cursor 
    # @option opts [Boolean] :include_archived  (default to false)
    # @return [ListChannelsResponse]
    def list_direct_message_conversations(opts = {})
      data, _status_code, _headers = list_direct_message_conversations_with_http_info(opts)
      data
    end

    # List 1:1 and group DM conversations.
    # Returns DM-type conversations only (&#x60;type: im | mpim&#x60;). Channel-type conversations are surfaced via &#x60;/v1/channels&#x60;. 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :account_ids Repeatable. Restrict to these connected-account row ids. Mutually orthogonal to &#x60;providers&#x60; — when both are set the intersection is used. 
    # @option opts [Array<String>] :providers Repeatable. Restrict to these provider ids (&#x60;gmail&#x60;, &#x60;outlook&#x60;).
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @option opts [Integer] :limit 
    # @option opts [String] :cursor 
    # @option opts [Boolean] :include_archived  (default to false)
    # @return [Array<(ListChannelsResponse, Integer, Hash)>] ListChannelsResponse data, response status code and response headers
    def list_direct_message_conversations_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.list_direct_message_conversations ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DirectMessagesApi.list_direct_message_conversations, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/direct-messages'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountIds'] = @api_client.build_collection_param(opts[:'account_ids'], :multi) if !opts[:'account_ids'].nil?
      query_params[:'providers'] = @api_client.build_collection_param(opts[:'providers'], :multi) if !opts[:'providers'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'includeArchived'] = opts[:'include_archived'] if !opts[:'include_archived'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Workspace-ID'] = opts[:'x_workspace_id'] if !opts[:'x_workspace_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListChannelsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.list_direct_message_conversations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#list_direct_message_conversations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List messages in a DM conversation.
    # @param channel [String] DM conversation id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id 
    # @option opts [Array<String>] :account_ids Repeatable. Restrict to these connected-account row ids. Mutually orthogonal to &#x60;providers&#x60; — when both are set the intersection is used. 
    # @option opts [Array<String>] :providers Repeatable. Restrict to these provider ids (&#x60;gmail&#x60;, &#x60;outlook&#x60;).
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @option opts [Integer] :limit 
    # @option opts [String] :cursor 
    # @option opts [Boolean] :oldest_first 
    # @return [ListMessagesResponse]
    def list_direct_messages(channel, opts = {})
      data, _status_code, _headers = list_direct_messages_with_http_info(channel, opts)
      data
    end

    # List messages in a DM conversation.
    # @param channel [String] DM conversation id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id 
    # @option opts [Array<String>] :account_ids Repeatable. Restrict to these connected-account row ids. Mutually orthogonal to &#x60;providers&#x60; — when both are set the intersection is used. 
    # @option opts [Array<String>] :providers Repeatable. Restrict to these provider ids (&#x60;gmail&#x60;, &#x60;outlook&#x60;).
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @option opts [Integer] :limit 
    # @option opts [String] :cursor 
    # @option opts [Boolean] :oldest_first 
    # @return [Array<(ListMessagesResponse, Integer, Hash)>] ListMessagesResponse data, response status code and response headers
    def list_direct_messages_with_http_info(channel, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.list_direct_messages ...'
      end
      # verify the required parameter 'channel' is set
      if @api_client.config.client_side_validation && channel.nil?
        fail ArgumentError, "Missing the required parameter 'channel' when calling DirectMessagesApi.list_direct_messages"
      end
      # resource path
      local_var_path = '/v1/direct-messages/messages'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'channel'] = channel
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'accountIds'] = @api_client.build_collection_param(opts[:'account_ids'], :multi) if !opts[:'account_ids'].nil?
      query_params[:'providers'] = @api_client.build_collection_param(opts[:'providers'], :multi) if !opts[:'providers'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'oldestFirst'] = opts[:'oldest_first'] if !opts[:'oldest_first'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Workspace-ID'] = opts[:'x_workspace_id'] if !opts[:'x_workspace_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListMessagesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.list_direct_messages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#list_direct_messages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Discover the action catalog for DirectMessages.
    # @param [Hash] opts the optional parameters
    # @return [ChatActionsList]
    def list_dm_actions(opts = {})
      data, _status_code, _headers = list_dm_actions_with_http_info(opts)
      data
    end

    # Discover the action catalog for DirectMessages.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChatActionsList, Integer, Hash)>] ChatActionsList data, response status code and response headers
    def list_dm_actions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.list_dm_actions ...'
      end
      # resource path
      local_var_path = '/v1/direct-messages/actions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ChatActionsList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.list_dm_actions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#list_dm_actions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List pinned messages in a DM conversation.
    # @param dm_id [String] Direct-message conversation id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id 
    # @return [DMPinnedList]
    def list_dm_pinned_messages(dm_id, opts = {})
      data, _status_code, _headers = list_dm_pinned_messages_with_http_info(dm_id, opts)
      data
    end

    # List pinned messages in a DM conversation.
    # @param dm_id [String] Direct-message conversation id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id 
    # @return [Array<(DMPinnedList, Integer, Hash)>] DMPinnedList data, response status code and response headers
    def list_dm_pinned_messages_with_http_info(dm_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.list_dm_pinned_messages ...'
      end
      # verify the required parameter 'dm_id' is set
      if @api_client.config.client_side_validation && dm_id.nil?
        fail ArgumentError, "Missing the required parameter 'dm_id' when calling DirectMessagesApi.list_dm_pinned_messages"
      end
      # resource path
      local_var_path = '/v1/direct-messages/{dmId}/pinned'.sub('{dmId}', CGI.escape(dm_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DMPinnedList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.list_dm_pinned_messages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#list_dm_pinned_messages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List replies in a DM message thread.
    # @param dm_id [String] Direct-message conversation id.
    # @param message_id [String] Chat-message id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id 
    # @return [Hash<String, Object>]
    def list_dm_thread_replies(dm_id, message_id, opts = {})
      data, _status_code, _headers = list_dm_thread_replies_with_http_info(dm_id, message_id, opts)
      data
    end

    # List replies in a DM message thread.
    # @param dm_id [String] Direct-message conversation id.
    # @param message_id [String] Chat-message id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id 
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def list_dm_thread_replies_with_http_info(dm_id, message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.list_dm_thread_replies ...'
      end
      # verify the required parameter 'dm_id' is set
      if @api_client.config.client_side_validation && dm_id.nil?
        fail ArgumentError, "Missing the required parameter 'dm_id' when calling DirectMessagesApi.list_dm_thread_replies"
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling DirectMessagesApi.list_dm_thread_replies"
      end
      # resource path
      local_var_path = '/v1/direct-messages/{dmId}/messages/{messageId}/replies'.sub('{dmId}', CGI.escape(dm_id.to_s)).sub('{messageId}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.list_dm_thread_replies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#list_dm_thread_replies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List chat users (DM contacts) across connected accounts.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :account_ids Repeatable. Restrict to these connected-account row ids. Mutually orthogonal to &#x60;providers&#x60; — when both are set the intersection is used. 
    # @option opts [Array<String>] :providers Repeatable. Restrict to these provider ids (&#x60;gmail&#x60;, &#x60;outlook&#x60;).
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @option opts [Integer] :limit 
    # @option opts [String] :cursor 
    # @return [ListChatUsersResponse]
    def list_dm_users(opts = {})
      data, _status_code, _headers = list_dm_users_with_http_info(opts)
      data
    end

    # List chat users (DM contacts) across connected accounts.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :account_ids Repeatable. Restrict to these connected-account row ids. Mutually orthogonal to &#x60;providers&#x60; — when both are set the intersection is used. 
    # @option opts [Array<String>] :providers Repeatable. Restrict to these provider ids (&#x60;gmail&#x60;, &#x60;outlook&#x60;).
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @option opts [Integer] :limit 
    # @option opts [String] :cursor 
    # @return [Array<(ListChatUsersResponse, Integer, Hash)>] ListChatUsersResponse data, response status code and response headers
    def list_dm_users_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.list_dm_users ...'
      end
      # resource path
      local_var_path = '/v1/direct-messages/users'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountIds'] = @api_client.build_collection_param(opts[:'account_ids'], :multi) if !opts[:'account_ids'].nil?
      query_params[:'providers'] = @api_client.build_collection_param(opts[:'providers'], :multi) if !opts[:'providers'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Workspace-ID'] = opts[:'x_workspace_id'] if !opts[:'x_workspace_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListChatUsersResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.list_dm_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#list_dm_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mark a DM message read.
    # @param dm_id [String] Direct-message conversation id.
    # @param dm_mark_read_request [DMMarkReadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SuccessFlag]
    def mark_dm_read(dm_id, dm_mark_read_request, opts = {})
      data, _status_code, _headers = mark_dm_read_with_http_info(dm_id, dm_mark_read_request, opts)
      data
    end

    # Mark a DM message read.
    # @param dm_id [String] Direct-message conversation id.
    # @param dm_mark_read_request [DMMarkReadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessFlag, Integer, Hash)>] SuccessFlag data, response status code and response headers
    def mark_dm_read_with_http_info(dm_id, dm_mark_read_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.mark_dm_read ...'
      end
      # verify the required parameter 'dm_id' is set
      if @api_client.config.client_side_validation && dm_id.nil?
        fail ArgumentError, "Missing the required parameter 'dm_id' when calling DirectMessagesApi.mark_dm_read"
      end
      # verify the required parameter 'dm_mark_read_request' is set
      if @api_client.config.client_side_validation && dm_mark_read_request.nil?
        fail ArgumentError, "Missing the required parameter 'dm_mark_read_request' when calling DirectMessagesApi.mark_dm_read"
      end
      # resource path
      local_var_path = '/v1/direct-messages/{dmId}/read'.sub('{dmId}', CGI.escape(dm_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(dm_mark_read_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessFlag'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.mark_dm_read",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#mark_dm_read\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mute a DM conversation (until a time, or forever).
    # @param dm_id [String] Direct-message conversation id.
    # @param dm_mute_request [DMMuteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DMMuteResponse]
    def mute_dm(dm_id, dm_mute_request, opts = {})
      data, _status_code, _headers = mute_dm_with_http_info(dm_id, dm_mute_request, opts)
      data
    end

    # Mute a DM conversation (until a time, or forever).
    # @param dm_id [String] Direct-message conversation id.
    # @param dm_mute_request [DMMuteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DMMuteResponse, Integer, Hash)>] DMMuteResponse data, response status code and response headers
    def mute_dm_with_http_info(dm_id, dm_mute_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.mute_dm ...'
      end
      # verify the required parameter 'dm_id' is set
      if @api_client.config.client_side_validation && dm_id.nil?
        fail ArgumentError, "Missing the required parameter 'dm_id' when calling DirectMessagesApi.mute_dm"
      end
      # verify the required parameter 'dm_mute_request' is set
      if @api_client.config.client_side_validation && dm_mute_request.nil?
        fail ArgumentError, "Missing the required parameter 'dm_mute_request' when calling DirectMessagesApi.mute_dm"
      end
      # resource path
      local_var_path = '/v1/direct-messages/{dmId}/mute'.sub('{dmId}', CGI.escape(dm_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(dm_mute_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DMMuteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.mute_dm",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#mute_dm\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Pin a DM conversation to the top of the sidebar.
    # @param dm_id [String] Direct-message conversation id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id 
    # @return [SuccessFlag]
    def pin_dm_conversation(dm_id, opts = {})
      data, _status_code, _headers = pin_dm_conversation_with_http_info(dm_id, opts)
      data
    end

    # Pin a DM conversation to the top of the sidebar.
    # @param dm_id [String] Direct-message conversation id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id 
    # @return [Array<(SuccessFlag, Integer, Hash)>] SuccessFlag data, response status code and response headers
    def pin_dm_conversation_with_http_info(dm_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.pin_dm_conversation ...'
      end
      # verify the required parameter 'dm_id' is set
      if @api_client.config.client_side_validation && dm_id.nil?
        fail ArgumentError, "Missing the required parameter 'dm_id' when calling DirectMessagesApi.pin_dm_conversation"
      end
      # resource path
      local_var_path = '/v1/direct-messages/{dmId}/pin'.sub('{dmId}', CGI.escape(dm_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessFlag'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.pin_dm_conversation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#pin_dm_conversation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Pin a DM message.
    # @param message_id [String] Chat-message id.
    # @param [Hash] opts the optional parameters
    # @option opts [ChannelMembershipRequest] :channel_membership_request 
    # @return [SuccessFlag]
    def pin_dm_message(message_id, opts = {})
      data, _status_code, _headers = pin_dm_message_with_http_info(message_id, opts)
      data
    end

    # Pin a DM message.
    # @param message_id [String] Chat-message id.
    # @param [Hash] opts the optional parameters
    # @option opts [ChannelMembershipRequest] :channel_membership_request 
    # @return [Array<(SuccessFlag, Integer, Hash)>] SuccessFlag data, response status code and response headers
    def pin_dm_message_with_http_info(message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.pin_dm_message ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling DirectMessagesApi.pin_dm_message"
      end
      # resource path
      local_var_path = '/v1/direct-messages/messages/{messageId}/pin'.sub('{messageId}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'channel_membership_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessFlag'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.pin_dm_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#pin_dm_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reply in a DM message thread.
    # @param dm_id [String] Direct-message conversation id.
    # @param message_id [String] Chat-message id.
    # @param dm_thread_reply_request [DMThreadReplyRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id 
    # @return [DMMessageEnvelope]
    def post_dm_thread_reply(dm_id, message_id, dm_thread_reply_request, opts = {})
      data, _status_code, _headers = post_dm_thread_reply_with_http_info(dm_id, message_id, dm_thread_reply_request, opts)
      data
    end

    # Reply in a DM message thread.
    # @param dm_id [String] Direct-message conversation id.
    # @param message_id [String] Chat-message id.
    # @param dm_thread_reply_request [DMThreadReplyRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id 
    # @return [Array<(DMMessageEnvelope, Integer, Hash)>] DMMessageEnvelope data, response status code and response headers
    def post_dm_thread_reply_with_http_info(dm_id, message_id, dm_thread_reply_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.post_dm_thread_reply ...'
      end
      # verify the required parameter 'dm_id' is set
      if @api_client.config.client_side_validation && dm_id.nil?
        fail ArgumentError, "Missing the required parameter 'dm_id' when calling DirectMessagesApi.post_dm_thread_reply"
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling DirectMessagesApi.post_dm_thread_reply"
      end
      # verify the required parameter 'dm_thread_reply_request' is set
      if @api_client.config.client_side_validation && dm_thread_reply_request.nil?
        fail ArgumentError, "Missing the required parameter 'dm_thread_reply_request' when calling DirectMessagesApi.post_dm_thread_reply"
      end
      # resource path
      local_var_path = '/v1/direct-messages/{dmId}/messages/{messageId}/replies'.sub('{dmId}', CGI.escape(dm_id.to_s)).sub('{messageId}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(dm_thread_reply_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DMMessageEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.post_dm_thread_reply",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#post_dm_thread_reply\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a DM message reaction.
    # @param message_id [String] Chat-message id.
    # @param emoji [String] Reaction emoji (e.g. &#x60;+1&#x60;, &#x60;eyes&#x60;, &#x60;pepper&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id 
    # @return [DMReactionResponse]
    def remove_dm_reaction(message_id, emoji, opts = {})
      data, _status_code, _headers = remove_dm_reaction_with_http_info(message_id, emoji, opts)
      data
    end

    # Remove a DM message reaction.
    # @param message_id [String] Chat-message id.
    # @param emoji [String] Reaction emoji (e.g. &#x60;+1&#x60;, &#x60;eyes&#x60;, &#x60;pepper&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id 
    # @return [Array<(DMReactionResponse, Integer, Hash)>] DMReactionResponse data, response status code and response headers
    def remove_dm_reaction_with_http_info(message_id, emoji, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.remove_dm_reaction ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling DirectMessagesApi.remove_dm_reaction"
      end
      # verify the required parameter 'emoji' is set
      if @api_client.config.client_side_validation && emoji.nil?
        fail ArgumentError, "Missing the required parameter 'emoji' when calling DirectMessagesApi.remove_dm_reaction"
      end
      # resource path
      local_var_path = '/v1/direct-messages/messages/{messageId}/reactions/{emoji}'.sub('{messageId}', CGI.escape(message_id.to_s)).sub('{emoji}', CGI.escape(emoji.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DMReactionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.remove_dm_reaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#remove_dm_reaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search across DM messages.
    # @param q [String] Free-form query string.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [String] :dm_id Restrict to one conversation.
    # @option opts [String] :user Restrict to messages from this user id.
    # @option opts [String] :account_id 
    # @return [DMSearchResults]
    def search_direct_messages(q, opts = {})
      data, _status_code, _headers = search_direct_messages_with_http_info(q, opts)
      data
    end

    # Search across DM messages.
    # @param q [String] Free-form query string.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [String] :dm_id Restrict to one conversation.
    # @option opts [String] :user Restrict to messages from this user id.
    # @option opts [String] :account_id 
    # @return [Array<(DMSearchResults, Integer, Hash)>] DMSearchResults data, response status code and response headers
    def search_direct_messages_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.search_direct_messages ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling DirectMessagesApi.search_direct_messages"
      end
      # resource path
      local_var_path = '/v1/direct-messages/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'dmId'] = opts[:'dm_id'] if !opts[:'dm_id'].nil?
      query_params[:'user'] = opts[:'user'] if !opts[:'user'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DMSearchResults'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.search_direct_messages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#search_direct_messages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send a DM.
    # @param send_chat_message_request [SendChatMessageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SendChatMessageResponse]
    def send_direct_message(send_chat_message_request, opts = {})
      data, _status_code, _headers = send_direct_message_with_http_info(send_chat_message_request, opts)
      data
    end

    # Send a DM.
    # @param send_chat_message_request [SendChatMessageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SendChatMessageResponse, Integer, Hash)>] SendChatMessageResponse data, response status code and response headers
    def send_direct_message_with_http_info(send_chat_message_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.send_direct_message ...'
      end
      # verify the required parameter 'send_chat_message_request' is set
      if @api_client.config.client_side_validation && send_chat_message_request.nil?
        fail ArgumentError, "Missing the required parameter 'send_chat_message_request' when calling DirectMessagesApi.send_direct_message"
      end
      # resource path
      local_var_path = '/v1/direct-messages/messages'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(send_chat_message_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SendChatMessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.send_direct_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#send_direct_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Save the unsent draft text for a DM.
    # @param dm_id [String] Direct-message conversation id.
    # @param dm_set_draft_request [DMSetDraftRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SuccessFlag]
    def set_dm_draft(dm_id, dm_set_draft_request, opts = {})
      data, _status_code, _headers = set_dm_draft_with_http_info(dm_id, dm_set_draft_request, opts)
      data
    end

    # Save the unsent draft text for a DM.
    # @param dm_id [String] Direct-message conversation id.
    # @param dm_set_draft_request [DMSetDraftRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessFlag, Integer, Hash)>] SuccessFlag data, response status code and response headers
    def set_dm_draft_with_http_info(dm_id, dm_set_draft_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.set_dm_draft ...'
      end
      # verify the required parameter 'dm_id' is set
      if @api_client.config.client_side_validation && dm_id.nil?
        fail ArgumentError, "Missing the required parameter 'dm_id' when calling DirectMessagesApi.set_dm_draft"
      end
      # verify the required parameter 'dm_set_draft_request' is set
      if @api_client.config.client_side_validation && dm_set_draft_request.nil?
        fail ArgumentError, "Missing the required parameter 'dm_set_draft_request' when calling DirectMessagesApi.set_dm_draft"
      end
      # resource path
      local_var_path = '/v1/direct-messages/{dmId}/draft'.sub('{dmId}', CGI.escape(dm_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(dm_set_draft_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessFlag'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.set_dm_draft",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#set_dm_draft\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unpin a DM conversation.
    # @param dm_id [String] Direct-message conversation id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id 
    # @return [SuccessFlag]
    def unpin_dm_conversation(dm_id, opts = {})
      data, _status_code, _headers = unpin_dm_conversation_with_http_info(dm_id, opts)
      data
    end

    # Unpin a DM conversation.
    # @param dm_id [String] Direct-message conversation id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id 
    # @return [Array<(SuccessFlag, Integer, Hash)>] SuccessFlag data, response status code and response headers
    def unpin_dm_conversation_with_http_info(dm_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.unpin_dm_conversation ...'
      end
      # verify the required parameter 'dm_id' is set
      if @api_client.config.client_side_validation && dm_id.nil?
        fail ArgumentError, "Missing the required parameter 'dm_id' when calling DirectMessagesApi.unpin_dm_conversation"
      end
      # resource path
      local_var_path = '/v1/direct-messages/{dmId}/pin'.sub('{dmId}', CGI.escape(dm_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessFlag'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.unpin_dm_conversation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#unpin_dm_conversation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unpin a DM message.
    # @param message_id [String] Chat-message id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id 
    # @return [SuccessFlag]
    def unpin_dm_message(message_id, opts = {})
      data, _status_code, _headers = unpin_dm_message_with_http_info(message_id, opts)
      data
    end

    # Unpin a DM message.
    # @param message_id [String] Chat-message id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id 
    # @return [Array<(SuccessFlag, Integer, Hash)>] SuccessFlag data, response status code and response headers
    def unpin_dm_message_with_http_info(message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.unpin_dm_message ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling DirectMessagesApi.unpin_dm_message"
      end
      # resource path
      local_var_path = '/v1/direct-messages/messages/{messageId}/pin'.sub('{messageId}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessFlag'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.unpin_dm_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#unpin_dm_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def workspace_execute_dm_action(org, workspace, request_body, opts = {})
      data, _status_code, _headers = workspace_execute_dm_action_with_http_info(org, workspace, request_body, opts)
      data
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def workspace_execute_dm_action_with_http_info(org, workspace, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.workspace_execute_dm_action ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling DirectMessagesApi.workspace_execute_dm_action"
      end
      # verify the required parameter 'workspace' is set
      if @api_client.config.client_side_validation && workspace.nil?
        fail ArgumentError, "Missing the required parameter 'workspace' when calling DirectMessagesApi.workspace_execute_dm_action"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling DirectMessagesApi.workspace_execute_dm_action"
      end
      # resource path
      local_var_path = '/v1/organizations/{org}/workspaces/{workspace}/direct-messages/execute'.sub('{org}', CGI.escape(org.to_s)).sub('{workspace}', CGI.escape(workspace.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.workspace_execute_dm_action",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#workspace_execute_dm_action\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def workspace_get_dm_user(org, workspace, id, opts = {})
      data, _status_code, _headers = workspace_get_dm_user_with_http_info(org, workspace, id, opts)
      data
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def workspace_get_dm_user_with_http_info(org, workspace, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.workspace_get_dm_user ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling DirectMessagesApi.workspace_get_dm_user"
      end
      # verify the required parameter 'workspace' is set
      if @api_client.config.client_side_validation && workspace.nil?
        fail ArgumentError, "Missing the required parameter 'workspace' when calling DirectMessagesApi.workspace_get_dm_user"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DirectMessagesApi.workspace_get_dm_user"
      end
      # resource path
      local_var_path = '/v1/organizations/{org}/workspaces/{workspace}/direct-messages/users/{id}'.sub('{org}', CGI.escape(org.to_s)).sub('{workspace}', CGI.escape(workspace.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.workspace_get_dm_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#workspace_get_dm_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def workspace_list_direct_messages(org, workspace, opts = {})
      data, _status_code, _headers = workspace_list_direct_messages_with_http_info(org, workspace, opts)
      data
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def workspace_list_direct_messages_with_http_info(org, workspace, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.workspace_list_direct_messages ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling DirectMessagesApi.workspace_list_direct_messages"
      end
      # verify the required parameter 'workspace' is set
      if @api_client.config.client_side_validation && workspace.nil?
        fail ArgumentError, "Missing the required parameter 'workspace' when calling DirectMessagesApi.workspace_list_direct_messages"
      end
      # resource path
      local_var_path = '/v1/organizations/{org}/workspaces/{workspace}/direct-messages'.sub('{org}', CGI.escape(org.to_s)).sub('{workspace}', CGI.escape(workspace.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.workspace_list_direct_messages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#workspace_list_direct_messages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def workspace_list_dm_actions(org, workspace, opts = {})
      data, _status_code, _headers = workspace_list_dm_actions_with_http_info(org, workspace, opts)
      data
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def workspace_list_dm_actions_with_http_info(org, workspace, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.workspace_list_dm_actions ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling DirectMessagesApi.workspace_list_dm_actions"
      end
      # verify the required parameter 'workspace' is set
      if @api_client.config.client_side_validation && workspace.nil?
        fail ArgumentError, "Missing the required parameter 'workspace' when calling DirectMessagesApi.workspace_list_dm_actions"
      end
      # resource path
      local_var_path = '/v1/organizations/{org}/workspaces/{workspace}/direct-messages/actions'.sub('{org}', CGI.escape(org.to_s)).sub('{workspace}', CGI.escape(workspace.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.workspace_list_dm_actions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#workspace_list_dm_actions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def workspace_list_dm_conversations(org, workspace, opts = {})
      data, _status_code, _headers = workspace_list_dm_conversations_with_http_info(org, workspace, opts)
      data
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def workspace_list_dm_conversations_with_http_info(org, workspace, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.workspace_list_dm_conversations ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling DirectMessagesApi.workspace_list_dm_conversations"
      end
      # verify the required parameter 'workspace' is set
      if @api_client.config.client_side_validation && workspace.nil?
        fail ArgumentError, "Missing the required parameter 'workspace' when calling DirectMessagesApi.workspace_list_dm_conversations"
      end
      # resource path
      local_var_path = '/v1/organizations/{org}/workspaces/{workspace}/direct-messages/conversations'.sub('{org}', CGI.escape(org.to_s)).sub('{workspace}', CGI.escape(workspace.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.workspace_list_dm_conversations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#workspace_list_dm_conversations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def workspace_list_dm_messages(org, workspace, opts = {})
      data, _status_code, _headers = workspace_list_dm_messages_with_http_info(org, workspace, opts)
      data
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def workspace_list_dm_messages_with_http_info(org, workspace, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.workspace_list_dm_messages ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling DirectMessagesApi.workspace_list_dm_messages"
      end
      # verify the required parameter 'workspace' is set
      if @api_client.config.client_side_validation && workspace.nil?
        fail ArgumentError, "Missing the required parameter 'workspace' when calling DirectMessagesApi.workspace_list_dm_messages"
      end
      # resource path
      local_var_path = '/v1/organizations/{org}/workspaces/{workspace}/direct-messages/messages'.sub('{org}', CGI.escape(org.to_s)).sub('{workspace}', CGI.escape(workspace.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.workspace_list_dm_messages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#workspace_list_dm_messages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def workspace_list_dm_users(org, workspace, opts = {})
      data, _status_code, _headers = workspace_list_dm_users_with_http_info(org, workspace, opts)
      data
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def workspace_list_dm_users_with_http_info(org, workspace, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.workspace_list_dm_users ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling DirectMessagesApi.workspace_list_dm_users"
      end
      # verify the required parameter 'workspace' is set
      if @api_client.config.client_side_validation && workspace.nil?
        fail ArgumentError, "Missing the required parameter 'workspace' when calling DirectMessagesApi.workspace_list_dm_users"
      end
      # resource path
      local_var_path = '/v1/organizations/{org}/workspaces/{workspace}/direct-messages/users'.sub('{org}', CGI.escape(org.to_s)).sub('{workspace}', CGI.escape(workspace.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.workspace_list_dm_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#workspace_list_dm_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def workspace_send_direct_message(org, workspace, request_body, opts = {})
      data, _status_code, _headers = workspace_send_direct_message_with_http_info(org, workspace, request_body, opts)
      data
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def workspace_send_direct_message_with_http_info(org, workspace, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DirectMessagesApi.workspace_send_direct_message ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling DirectMessagesApi.workspace_send_direct_message"
      end
      # verify the required parameter 'workspace' is set
      if @api_client.config.client_side_validation && workspace.nil?
        fail ArgumentError, "Missing the required parameter 'workspace' when calling DirectMessagesApi.workspace_send_direct_message"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling DirectMessagesApi.workspace_send_direct_message"
      end
      # resource path
      local_var_path = '/v1/organizations/{org}/workspaces/{workspace}/direct-messages/messages'.sub('{org}', CGI.escape(org.to_s)).sub('{workspace}', CGI.escape(workspace.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DirectMessagesApi.workspace_send_direct_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DirectMessagesApi#workspace_send_direct_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
