=begin
#SpatioAPI

#The REST API that owns every resource in your Spatio workspace: notes, sheets, slides, tasks, calendar events, mail, chat, files, and contacts. SpatioMCP wraps this API; Spatio Desktop reads from it. You can call it directly from your own code.  All requests must be authenticated with a Personal Access Token (`Authorization: Bearer pat_...`) or an OAuth 2.1 access token, and use HTTPS.  Official SDKs (MIT, generated from this spec on every release):  - TypeScript: https://github.com/spatio-labs/spatio-ts (`npm install @spatio-labs/spatio-ts`) - Python: https://github.com/spatio-labs/spatio-py (`pip install spatio-sdk`) - Go: https://github.com/spatio-labs/spatio-go (`go get github.com/spatio-labs/spatio-go`)  This specification is generated from the platform-service Go source on every push to `main`. The spec, not hand-written documentation, is the source of truth: server stubs and SDKs are generated from it, and any drift between the spec and the running service fails CI. 

The version of the OpenAPI document: v1
Contact: hello@spatio.app
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Spatio
  class KeybindingsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reset a binding to its platform default.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_key_binding(id, opts = {})
      delete_key_binding_with_http_info(id, opts)
      nil
    end

    # Reset a binding to its platform default.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_key_binding_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeybindingsApi.delete_key_binding ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling KeybindingsApi.delete_key_binding"
      end
      # resource path
      local_var_path = '/v1/keybindings/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"KeybindingsApi.delete_key_binding",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeybindingsApi#delete_key_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Platform default key bindings (no user customizations applied).
    # @param [Hash] opts the optional parameters
    # @return [KeyBindingListResponse]
    def get_default_key_bindings(opts = {})
      data, _status_code, _headers = get_default_key_bindings_with_http_info(opts)
      data
    end

    # Platform default key bindings (no user customizations applied).
    # @param [Hash] opts the optional parameters
    # @return [Array<(KeyBindingListResponse, Integer, Hash)>] KeyBindingListResponse data, response status code and response headers
    def get_default_key_bindings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeybindingsApi.get_default_key_bindings ...'
      end
      # resource path
      local_var_path = '/v1/keybindings/defaults'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'KeyBindingListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"KeybindingsApi.get_default_key_bindings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeybindingsApi#get_default_key_bindings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # User's merged key bindings (defaults + customizations).
    # @param [Hash] opts the optional parameters
    # @return [KeyBindingListResponse]
    def list_key_bindings(opts = {})
      data, _status_code, _headers = list_key_bindings_with_http_info(opts)
      data
    end

    # User&#39;s merged key bindings (defaults + customizations).
    # @param [Hash] opts the optional parameters
    # @return [Array<(KeyBindingListResponse, Integer, Hash)>] KeyBindingListResponse data, response status code and response headers
    def list_key_bindings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeybindingsApi.list_key_bindings ...'
      end
      # resource path
      local_var_path = '/v1/keybindings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'KeyBindingListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"KeybindingsApi.list_key_bindings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeybindingsApi#list_key_bindings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reset every customization to its platform default.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def reset_all_key_bindings(opts = {})
      reset_all_key_bindings_with_http_info(opts)
      nil
    end

    # Reset every customization to its platform default.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def reset_all_key_bindings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeybindingsApi.reset_all_key_bindings ...'
      end
      # resource path
      local_var_path = '/v1/keybindings/reset'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"KeybindingsApi.reset_all_key_bindings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeybindingsApi#reset_all_key_bindings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or update a user key-binding customization.
    # @param id [String] 
    # @param update_key_binding_request [UpdateKeyBindingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [KeyBinding]
    def update_key_binding(id, update_key_binding_request, opts = {})
      data, _status_code, _headers = update_key_binding_with_http_info(id, update_key_binding_request, opts)
      data
    end

    # Create or update a user key-binding customization.
    # @param id [String] 
    # @param update_key_binding_request [UpdateKeyBindingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(KeyBinding, Integer, Hash)>] KeyBinding data, response status code and response headers
    def update_key_binding_with_http_info(id, update_key_binding_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeybindingsApi.update_key_binding ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling KeybindingsApi.update_key_binding"
      end
      # verify the required parameter 'update_key_binding_request' is set
      if @api_client.config.client_side_validation && update_key_binding_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_key_binding_request' when calling KeybindingsApi.update_key_binding"
      end
      # resource path
      local_var_path = '/v1/keybindings/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_key_binding_request)

      # return_type
      return_type = opts[:debug_return_type] || 'KeyBinding'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"KeybindingsApi.update_key_binding",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeybindingsApi#update_key_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check whether a proposed binding conflicts with existing ones.
    # @param validate_key_binding_request [ValidateKeyBindingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ValidateKeyBindingResponse]
    def validate_key_binding(validate_key_binding_request, opts = {})
      data, _status_code, _headers = validate_key_binding_with_http_info(validate_key_binding_request, opts)
      data
    end

    # Check whether a proposed binding conflicts with existing ones.
    # @param validate_key_binding_request [ValidateKeyBindingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ValidateKeyBindingResponse, Integer, Hash)>] ValidateKeyBindingResponse data, response status code and response headers
    def validate_key_binding_with_http_info(validate_key_binding_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeybindingsApi.validate_key_binding ...'
      end
      # verify the required parameter 'validate_key_binding_request' is set
      if @api_client.config.client_side_validation && validate_key_binding_request.nil?
        fail ArgumentError, "Missing the required parameter 'validate_key_binding_request' when calling KeybindingsApi.validate_key_binding"
      end
      # resource path
      local_var_path = '/v1/keybindings/validate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(validate_key_binding_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ValidateKeyBindingResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"KeybindingsApi.validate_key_binding",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeybindingsApi#validate_key_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
