=begin
#SpatioAPI

#The REST API that owns every resource in your Spatio workspace: notes, sheets, slides, tasks, calendar events, mail, chat, files, and contacts. SpatioMCP wraps this API; Spatio Desktop reads from it. You can call it directly from your own code.  All requests must be authenticated with a Personal Access Token (`Authorization: Bearer pat_...`) or an OAuth 2.1 access token, and use HTTPS.  Official SDKs (MIT, generated from this spec on every release):  - TypeScript: https://github.com/spatio-labs/spatio-ts (`npm install @spatio-labs/spatio-ts`) - Python: https://github.com/spatio-labs/spatio-py (`pip install spatio-sdk`) - Go: https://github.com/spatio-labs/spatio-go (`go get github.com/spatio-labs/spatio-go`)  This specification is generated from the platform-service Go source on every push to `main`. The spec, not hand-written documentation, is the source of truth: server stubs and SDKs are generated from it, and any drift between the spec and the running service fails CI. 

The version of the OpenAPI document: v1
Contact: hello@spatio.app
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Spatio
  class MailApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Archive multiple messages (remove the INBOX label).
    # @param bulk_archive_request [BulkArchiveRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BulkArchiveResponse]
    def bulk_archive_emails(bulk_archive_request, opts = {})
      data, _status_code, _headers = bulk_archive_emails_with_http_info(bulk_archive_request, opts)
      data
    end

    # Archive multiple messages (remove the INBOX label).
    # @param bulk_archive_request [BulkArchiveRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BulkArchiveResponse, Integer, Hash)>] BulkArchiveResponse data, response status code and response headers
    def bulk_archive_emails_with_http_info(bulk_archive_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.bulk_archive_emails ...'
      end
      # verify the required parameter 'bulk_archive_request' is set
      if @api_client.config.client_side_validation && bulk_archive_request.nil?
        fail ArgumentError, "Missing the required parameter 'bulk_archive_request' when calling MailApi.bulk_archive_emails"
      end
      # resource path
      local_var_path = '/v1/mail/archive'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bulk_archive_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BulkArchiveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailApi.bulk_archive_emails",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#bulk_archive_emails\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete multiple messages in one call.
    # Soft-delete by default (moves to provider trash). Set `permanent: true` for a hard delete. 
    # @param bulk_delete_emails_request [BulkDeleteEmailsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BulkDeleteEmailsResponse]
    def bulk_delete_emails(bulk_delete_emails_request, opts = {})
      data, _status_code, _headers = bulk_delete_emails_with_http_info(bulk_delete_emails_request, opts)
      data
    end

    # Delete multiple messages in one call.
    # Soft-delete by default (moves to provider trash). Set &#x60;permanent: true&#x60; for a hard delete. 
    # @param bulk_delete_emails_request [BulkDeleteEmailsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BulkDeleteEmailsResponse, Integer, Hash)>] BulkDeleteEmailsResponse data, response status code and response headers
    def bulk_delete_emails_with_http_info(bulk_delete_emails_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.bulk_delete_emails ...'
      end
      # verify the required parameter 'bulk_delete_emails_request' is set
      if @api_client.config.client_side_validation && bulk_delete_emails_request.nil?
        fail ArgumentError, "Missing the required parameter 'bulk_delete_emails_request' when calling MailApi.bulk_delete_emails"
      end
      # resource path
      local_var_path = '/v1/mail/delete'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bulk_delete_emails_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BulkDeleteEmailsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailApi.bulk_delete_emails",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#bulk_delete_emails\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mark multiple messages read or unread in one call.
    # @param bulk_mark_read_request [BulkMarkReadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BulkMarkReadResponse]
    def bulk_mark_emails_read(bulk_mark_read_request, opts = {})
      data, _status_code, _headers = bulk_mark_emails_read_with_http_info(bulk_mark_read_request, opts)
      data
    end

    # Mark multiple messages read or unread in one call.
    # @param bulk_mark_read_request [BulkMarkReadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BulkMarkReadResponse, Integer, Hash)>] BulkMarkReadResponse data, response status code and response headers
    def bulk_mark_emails_read_with_http_info(bulk_mark_read_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.bulk_mark_emails_read ...'
      end
      # verify the required parameter 'bulk_mark_read_request' is set
      if @api_client.config.client_side_validation && bulk_mark_read_request.nil?
        fail ArgumentError, "Missing the required parameter 'bulk_mark_read_request' when calling MailApi.bulk_mark_emails_read"
      end
      # resource path
      local_var_path = '/v1/mail/mark-read'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bulk_mark_read_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BulkMarkReadResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailApi.bulk_mark_emails_read",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#bulk_mark_emails_read\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a draft.
    # @param create_draft_request [CreateDraftRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [DraftResponse]
    def create_draft(create_draft_request, opts = {})
      data, _status_code, _headers = create_draft_with_http_info(create_draft_request, opts)
      data
    end

    # Create a draft.
    # @param create_draft_request [CreateDraftRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [Array<(DraftResponse, Integer, Hash)>] DraftResponse data, response status code and response headers
    def create_draft_with_http_info(create_draft_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.create_draft ...'
      end
      # verify the required parameter 'create_draft_request' is set
      if @api_client.config.client_side_validation && create_draft_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_draft_request' when calling MailApi.create_draft"
      end
      # resource path
      local_var_path = '/v1/mail/drafts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Workspace-ID'] = opts[:'x_workspace_id'] if !opts[:'x_workspace_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_draft_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DraftResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailApi.create_draft",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#create_draft\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a label.
    # @param create_label_request [CreateLabelRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Connected-account row id. Selects which provider account this request targets when more than one is connected. Mutually exclusive with &#x60;provider&#x60;. If omitted on a list endpoint the call fans out across every connected account. 
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [CreateLabelResponse]
    def create_email_label(create_label_request, opts = {})
      data, _status_code, _headers = create_email_label_with_http_info(create_label_request, opts)
      data
    end

    # Create a label.
    # @param create_label_request [CreateLabelRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Connected-account row id. Selects which provider account this request targets when more than one is connected. Mutually exclusive with &#x60;provider&#x60;. If omitted on a list endpoint the call fans out across every connected account. 
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [Array<(CreateLabelResponse, Integer, Hash)>] CreateLabelResponse data, response status code and response headers
    def create_email_label_with_http_info(create_label_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.create_email_label ...'
      end
      # verify the required parameter 'create_label_request' is set
      if @api_client.config.client_side_validation && create_label_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_label_request' when calling MailApi.create_email_label"
      end
      # resource path
      local_var_path = '/v1/mail/labels'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Workspace-ID'] = opts[:'x_workspace_id'] if !opts[:'x_workspace_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_label_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateLabelResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailApi.create_email_label",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#create_email_label\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a mail template.
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def create_mail_template(request_body, opts = {})
      data, _status_code, _headers = create_mail_template_with_http_info(request_body, opts)
      data
    end

    # Create a mail template.
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def create_mail_template_with_http_info(request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.create_mail_template ...'
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling MailApi.create_mail_template"
      end
      # resource path
      local_var_path = '/v1/mail/templates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailApi.create_mail_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#create_mail_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a draft.
    # @param id [String] Draft id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Connected-account row id. Selects which provider account this request targets when more than one is connected. Mutually exclusive with &#x60;provider&#x60;. If omitted on a list endpoint the call fans out across every connected account. 
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [nil]
    def delete_draft(id, opts = {})
      delete_draft_with_http_info(id, opts)
      nil
    end

    # Delete a draft.
    # @param id [String] Draft id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Connected-account row id. Selects which provider account this request targets when more than one is connected. Mutually exclusive with &#x60;provider&#x60;. If omitted on a list endpoint the call fans out across every connected account. 
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_draft_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.delete_draft ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.delete_draft"
      end
      # resource path
      local_var_path = '/v1/mail/drafts/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Workspace-ID'] = opts[:'x_workspace_id'] if !opts[:'x_workspace_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailApi.delete_draft",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#delete_draft\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an email.
    # Soft-deletes (moves to provider trash).
    # @param id [String] Email message id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Connected-account row id. Selects which provider account this request targets when more than one is connected. Mutually exclusive with &#x60;provider&#x60;. If omitted on a list endpoint the call fans out across every connected account. 
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [SuccessFlag]
    def delete_email(id, opts = {})
      data, _status_code, _headers = delete_email_with_http_info(id, opts)
      data
    end

    # Delete an email.
    # Soft-deletes (moves to provider trash).
    # @param id [String] Email message id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Connected-account row id. Selects which provider account this request targets when more than one is connected. Mutually exclusive with &#x60;provider&#x60;. If omitted on a list endpoint the call fans out across every connected account. 
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [Array<(SuccessFlag, Integer, Hash)>] SuccessFlag data, response status code and response headers
    def delete_email_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.delete_email ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.delete_email"
      end
      # resource path
      local_var_path = '/v1/mail/email/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Workspace-ID'] = opts[:'x_workspace_id'] if !opts[:'x_workspace_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessFlag'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailApi.delete_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#delete_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a label.
    # @param id [String] Label id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Connected-account row id. Selects which provider account this request targets when more than one is connected. Mutually exclusive with &#x60;provider&#x60;. If omitted on a list endpoint the call fans out across every connected account. 
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [nil]
    def delete_email_label(id, opts = {})
      delete_email_label_with_http_info(id, opts)
      nil
    end

    # Delete a label.
    # @param id [String] Label id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Connected-account row id. Selects which provider account this request targets when more than one is connected. Mutually exclusive with &#x60;provider&#x60;. If omitted on a list endpoint the call fans out across every connected account. 
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_email_label_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.delete_email_label ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.delete_email_label"
      end
      # resource path
      local_var_path = '/v1/mail/labels/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Workspace-ID'] = opts[:'x_workspace_id'] if !opts[:'x_workspace_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailApi.delete_email_label",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#delete_email_label\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a mail template.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_mail_template(id, opts = {})
      delete_mail_template_with_http_info(id, opts)
      nil
    end

    # Delete a mail template.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_mail_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.delete_mail_template ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.delete_mail_template"
      end
      # resource path
      local_var_path = '/v1/mail/templates/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailApi.delete_mail_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#delete_mail_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch one email.
    # @param id [String] Email message id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Connected-account row id. Selects which provider account this request targets when more than one is connected. Mutually exclusive with &#x60;provider&#x60;. If omitted on a list endpoint the call fans out across every connected account. 
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [GetEmailResponse]
    def get_email(id, opts = {})
      data, _status_code, _headers = get_email_with_http_info(id, opts)
      data
    end

    # Fetch one email.
    # @param id [String] Email message id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Connected-account row id. Selects which provider account this request targets when more than one is connected. Mutually exclusive with &#x60;provider&#x60;. If omitted on a list endpoint the call fans out across every connected account. 
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [Array<(GetEmailResponse, Integer, Hash)>] GetEmailResponse data, response status code and response headers
    def get_email_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.get_email ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.get_email"
      end
      # resource path
      local_var_path = '/v1/mail/email/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Workspace-ID'] = opts[:'x_workspace_id'] if !opts[:'x_workspace_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEmailResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailApi.get_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#get_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download an attachment.
    # Streams the attachment binary. Response `Content-Type` matches the attachment's declared MIME type; `Content-Disposition` sets the filename. 
    # @param message_id [String] Message id the attachment belongs to.
    # @param attachment_id [String] Attachment id within the message.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Connected-account row id. Selects which provider account this request targets when more than one is connected. Mutually exclusive with &#x60;provider&#x60;. If omitted on a list endpoint the call fans out across every connected account. 
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [File]
    def get_email_attachment(message_id, attachment_id, opts = {})
      data, _status_code, _headers = get_email_attachment_with_http_info(message_id, attachment_id, opts)
      data
    end

    # Download an attachment.
    # Streams the attachment binary. Response &#x60;Content-Type&#x60; matches the attachment&#39;s declared MIME type; &#x60;Content-Disposition&#x60; sets the filename. 
    # @param message_id [String] Message id the attachment belongs to.
    # @param attachment_id [String] Attachment id within the message.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Connected-account row id. Selects which provider account this request targets when more than one is connected. Mutually exclusive with &#x60;provider&#x60;. If omitted on a list endpoint the call fans out across every connected account. 
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def get_email_attachment_with_http_info(message_id, attachment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.get_email_attachment ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling MailApi.get_email_attachment"
      end
      # verify the required parameter 'attachment_id' is set
      if @api_client.config.client_side_validation && attachment_id.nil?
        fail ArgumentError, "Missing the required parameter 'attachment_id' when calling MailApi.get_email_attachment"
      end
      # resource path
      local_var_path = '/v1/mail/attachment/{messageId}/{attachmentId}'.sub('{messageId}', CGI.escape(message_id.to_s)).sub('{attachmentId}', CGI.escape(attachment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/octet-stream', 'application/json']) unless header_params['Accept']
      header_params[:'X-Workspace-ID'] = opts[:'x_workspace_id'] if !opts[:'x_workspace_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailApi.get_email_attachment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#get_email_attachment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch a thread (the conversation a message belongs to).
    # @param id [String] Thread id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Connected-account row id. Selects which provider account this request targets when more than one is connected. Mutually exclusive with &#x60;provider&#x60;. If omitted on a list endpoint the call fans out across every connected account. 
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [GetThreadResponse]
    def get_email_thread(id, opts = {})
      data, _status_code, _headers = get_email_thread_with_http_info(id, opts)
      data
    end

    # Fetch a thread (the conversation a message belongs to).
    # @param id [String] Thread id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Connected-account row id. Selects which provider account this request targets when more than one is connected. Mutually exclusive with &#x60;provider&#x60;. If omitted on a list endpoint the call fans out across every connected account. 
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [Array<(GetThreadResponse, Integer, Hash)>] GetThreadResponse data, response status code and response headers
    def get_email_thread_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.get_email_thread ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.get_email_thread"
      end
      # resource path
      local_var_path = '/v1/mail/thread/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Workspace-ID'] = opts[:'x_workspace_id'] if !opts[:'x_workspace_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetThreadResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailApi.get_email_thread",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#get_email_thread\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch a mail template.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def get_mail_template(id, opts = {})
      data, _status_code, _headers = get_mail_template_with_http_info(id, opts)
      data
    end

    # Fetch a mail template.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def get_mail_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.get_mail_template ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.get_mail_template"
      end
      # resource path
      local_var_path = '/v1/mail/templates/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailApi.get_mail_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#get_mail_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read mail-tracking events for a thread (open log, reply log, etc.).
    # @param thread_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def get_mail_thread_tracking(thread_id, opts = {})
      data, _status_code, _headers = get_mail_thread_tracking_with_http_info(thread_id, opts)
      data
    end

    # Read mail-tracking events for a thread (open log, reply log, etc.).
    # @param thread_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def get_mail_thread_tracking_with_http_info(thread_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.get_mail_thread_tracking ...'
      end
      # verify the required parameter 'thread_id' is set
      if @api_client.config.client_side_validation && thread_id.nil?
        fail ArgumentError, "Missing the required parameter 'thread_id' when calling MailApi.get_mail_thread_tracking"
      end
      # resource path
      local_var_path = '/v1/mail/threads/{threadId}/tracking'.sub('{threadId}', CGI.escape(thread_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailApi.get_mail_thread_tracking",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#get_mail_thread_tracking\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Render a template with variables and return the resulting draft.
    # @param id [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def instantiate_mail_template(id, request_body, opts = {})
      data, _status_code, _headers = instantiate_mail_template_with_http_info(id, request_body, opts)
      data
    end

    # Render a template with variables and return the resulting draft.
    # @param id [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def instantiate_mail_template_with_http_info(id, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.instantiate_mail_template ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.instantiate_mail_template"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling MailApi.instantiate_mail_template"
      end
      # resource path
      local_var_path = '/v1/mail/templates/{id}/instantiate'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailApi.instantiate_mail_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#instantiate_mail_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List drafts across connected mail accounts.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @option opts [Array<String>] :account_ids Repeatable. Restrict to these connected-account row ids. Mutually orthogonal to &#x60;providers&#x60; — when both are set the intersection is used. 
    # @option opts [Array<String>] :providers Repeatable. Restrict to these provider ids (&#x60;gmail&#x60;, &#x60;outlook&#x60;).
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :next_page_token 
    # @return [ListDraftsResponse]
    def list_drafts(opts = {})
      data, _status_code, _headers = list_drafts_with_http_info(opts)
      data
    end

    # List drafts across connected mail accounts.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @option opts [Array<String>] :account_ids Repeatable. Restrict to these connected-account row ids. Mutually orthogonal to &#x60;providers&#x60; — when both are set the intersection is used. 
    # @option opts [Array<String>] :providers Repeatable. Restrict to these provider ids (&#x60;gmail&#x60;, &#x60;outlook&#x60;).
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :next_page_token 
    # @return [Array<(ListDraftsResponse, Integer, Hash)>] ListDraftsResponse data, response status code and response headers
    def list_drafts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.list_drafts ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MailApi.list_drafts, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/mail/drafts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountIds'] = @api_client.build_collection_param(opts[:'account_ids'], :multi) if !opts[:'account_ids'].nil?
      query_params[:'providers'] = @api_client.build_collection_param(opts[:'providers'], :multi) if !opts[:'providers'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'nextPageToken'] = opts[:'next_page_token'] if !opts[:'next_page_token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Workspace-ID'] = opts[:'x_workspace_id'] if !opts[:'x_workspace_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListDraftsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailApi.list_drafts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#list_drafts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List labels on the resolved mail account.
    # Single-account list. The platform auto-resolves to the caller's sole connected account; pass `?accountId=` to disambiguate when multiple are connected. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Connected-account row id. Selects which provider account this request targets when more than one is connected. Mutually exclusive with &#x60;provider&#x60;. If omitted on a list endpoint the call fans out across every connected account. 
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [ListLabelsResponse]
    def list_email_labels(opts = {})
      data, _status_code, _headers = list_email_labels_with_http_info(opts)
      data
    end

    # List labels on the resolved mail account.
    # Single-account list. The platform auto-resolves to the caller&#39;s sole connected account; pass &#x60;?accountId&#x3D;&#x60; to disambiguate when multiple are connected. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Connected-account row id. Selects which provider account this request targets when more than one is connected. Mutually exclusive with &#x60;provider&#x60;. If omitted on a list endpoint the call fans out across every connected account. 
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [Array<(ListLabelsResponse, Integer, Hash)>] ListLabelsResponse data, response status code and response headers
    def list_email_labels_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.list_email_labels ...'
      end
      # resource path
      local_var_path = '/v1/mail/labels'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Workspace-ID'] = opts[:'x_workspace_id'] if !opts[:'x_workspace_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListLabelsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailApi.list_email_labels",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#list_email_labels\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List emails across connected mail accounts.
    # Fan-out list. Returns messages across every connected mail provider unless filtered. Pass `?accountIds=` (repeatable) to restrict to specific accounts, `?providers=` to restrict to specific provider ids, or both for the intersection. 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :account_ids Repeatable. Restrict to these connected-account row ids. Mutually orthogonal to &#x60;providers&#x60; — when both are set the intersection is used. 
    # @option opts [Array<String>] :providers Repeatable. Restrict to these provider ids (&#x60;gmail&#x60;, &#x60;outlook&#x60;).
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @option opts [String] :query Provider-specific full-text query (e.g. Gmail search syntax).
    # @option opts [Array<String>] :labels Repeatable. Filter to messages carrying every label.
    # @option opts [String] :folder Logical folder filter. Canonical values: &#x60;inbox&#x60;, &#x60;sent&#x60;, &#x60;starred&#x60;, &#x60;trash&#x60;, &#x60;archive&#x60;. Provider-specific folders accepted as opaque strings. 
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Integer] :offset  (default to 0)
    # @return [ListEmailsResponse]
    def list_emails(opts = {})
      data, _status_code, _headers = list_emails_with_http_info(opts)
      data
    end

    # List emails across connected mail accounts.
    # Fan-out list. Returns messages across every connected mail provider unless filtered. Pass &#x60;?accountIds&#x3D;&#x60; (repeatable) to restrict to specific accounts, &#x60;?providers&#x3D;&#x60; to restrict to specific provider ids, or both for the intersection. 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :account_ids Repeatable. Restrict to these connected-account row ids. Mutually orthogonal to &#x60;providers&#x60; — when both are set the intersection is used. 
    # @option opts [Array<String>] :providers Repeatable. Restrict to these provider ids (&#x60;gmail&#x60;, &#x60;outlook&#x60;).
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @option opts [String] :query Provider-specific full-text query (e.g. Gmail search syntax).
    # @option opts [Array<String>] :labels Repeatable. Filter to messages carrying every label.
    # @option opts [String] :folder Logical folder filter. Canonical values: &#x60;inbox&#x60;, &#x60;sent&#x60;, &#x60;starred&#x60;, &#x60;trash&#x60;, &#x60;archive&#x60;. Provider-specific folders accepted as opaque strings. 
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Integer] :offset  (default to 0)
    # @return [Array<(ListEmailsResponse, Integer, Hash)>] ListEmailsResponse data, response status code and response headers
    def list_emails_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.list_emails ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MailApi.list_emails, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling MailApi.list_emails, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/mail/list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountIds'] = @api_client.build_collection_param(opts[:'account_ids'], :multi) if !opts[:'account_ids'].nil?
      query_params[:'providers'] = @api_client.build_collection_param(opts[:'providers'], :multi) if !opts[:'providers'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?
      query_params[:'labels'] = @api_client.build_collection_param(opts[:'labels'], :multi) if !opts[:'labels'].nil?
      query_params[:'folder'] = opts[:'folder'] if !opts[:'folder'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Workspace-ID'] = opts[:'x_workspace_id'] if !opts[:'x_workspace_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListEmailsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailApi.list_emails",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#list_emails\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the caller's saved mail templates.
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def list_mail_templates(opts = {})
      data, _status_code, _headers = list_mail_templates_with_http_info(opts)
      data
    end

    # List the caller&#39;s saved mail templates.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def list_mail_templates_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.list_mail_templates ...'
      end
      # resource path
      local_var_path = '/v1/mail/templates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailApi.list_mail_templates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#list_mail_templates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reply to a specific email.
    # The original message is identified by `?messageId=`. Body defaults to the original sender as recipient — pass `to`, `cc`, `bcc` to override. 
    # @param message_id [String] Id of the message being replied to.
    # @param reply_email_request [ReplyEmailRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [SendEmailResponse]
    def reply_email(message_id, reply_email_request, opts = {})
      data, _status_code, _headers = reply_email_with_http_info(message_id, reply_email_request, opts)
      data
    end

    # Reply to a specific email.
    # The original message is identified by &#x60;?messageId&#x3D;&#x60;. Body defaults to the original sender as recipient — pass &#x60;to&#x60;, &#x60;cc&#x60;, &#x60;bcc&#x60; to override. 
    # @param message_id [String] Id of the message being replied to.
    # @param reply_email_request [ReplyEmailRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [Array<(SendEmailResponse, Integer, Hash)>] SendEmailResponse data, response status code and response headers
    def reply_email_with_http_info(message_id, reply_email_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.reply_email ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling MailApi.reply_email"
      end
      # verify the required parameter 'reply_email_request' is set
      if @api_client.config.client_side_validation && reply_email_request.nil?
        fail ArgumentError, "Missing the required parameter 'reply_email_request' when calling MailApi.reply_email"
      end
      # resource path
      local_var_path = '/v1/mail/reply'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'messageId'] = message_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Workspace-ID'] = opts[:'x_workspace_id'] if !opts[:'x_workspace_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reply_email_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SendEmailResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailApi.reply_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#reply_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Save-or-create endpoint used by the renderer's \"save as template\" flow. Distinct from POST /v1/mail/templates which is the strict create. 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def save_mail_template(request_body, opts = {})
      data, _status_code, _headers = save_mail_template_with_http_info(request_body, opts)
      data
    end

    # Save-or-create endpoint used by the renderer&#39;s \&quot;save as template\&quot; flow. Distinct from POST /v1/mail/templates which is the strict create. 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def save_mail_template_with_http_info(request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.save_mail_template ...'
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling MailApi.save_mail_template"
      end
      # resource path
      local_var_path = '/v1/mail/templates/save'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailApi.save_mail_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#save_mail_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Structured search across connected mail accounts.
    # Fan-out search. Mirrors `listEmails`'s account/provider filter semantics. Date range filters are inclusive. The query string itself is passed via `?q=` (not `?query=`); structured filters go in their own params. 
    # @param q [String] Provider-specific full-text query string.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :account_ids Repeatable. Restrict to these connected-account row ids. Mutually orthogonal to &#x60;providers&#x60; — when both are set the intersection is used. 
    # @option opts [Array<String>] :providers Repeatable. Restrict to these provider ids (&#x60;gmail&#x60;, &#x60;outlook&#x60;).
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @option opts [String] :from 
    # @option opts [String] :to 
    # @option opts [String] :subject 
    # @option opts [Boolean] :has_attachment 
    # @option opts [Boolean] :is_unread 
    # @option opts [Boolean] :is_starred 
    # @option opts [Array<String>] :labels 
    # @option opts [Time] :after Inclusive lower-bound date.
    # @option opts [Time] :before Inclusive upper-bound date.
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :next_page_token Cursor returned by the previous call.
    # @return [SearchEmailsResponse]
    def search_emails(q, opts = {})
      data, _status_code, _headers = search_emails_with_http_info(q, opts)
      data
    end

    # Structured search across connected mail accounts.
    # Fan-out search. Mirrors &#x60;listEmails&#x60;&#39;s account/provider filter semantics. Date range filters are inclusive. The query string itself is passed via &#x60;?q&#x3D;&#x60; (not &#x60;?query&#x3D;&#x60;); structured filters go in their own params. 
    # @param q [String] Provider-specific full-text query string.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :account_ids Repeatable. Restrict to these connected-account row ids. Mutually orthogonal to &#x60;providers&#x60; — when both are set the intersection is used. 
    # @option opts [Array<String>] :providers Repeatable. Restrict to these provider ids (&#x60;gmail&#x60;, &#x60;outlook&#x60;).
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @option opts [String] :from 
    # @option opts [String] :to 
    # @option opts [String] :subject 
    # @option opts [Boolean] :has_attachment 
    # @option opts [Boolean] :is_unread 
    # @option opts [Boolean] :is_starred 
    # @option opts [Array<String>] :labels 
    # @option opts [Time] :after Inclusive lower-bound date.
    # @option opts [Time] :before Inclusive upper-bound date.
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :next_page_token Cursor returned by the previous call.
    # @return [Array<(SearchEmailsResponse, Integer, Hash)>] SearchEmailsResponse data, response status code and response headers
    def search_emails_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.search_emails ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling MailApi.search_emails"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MailApi.search_emails, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/mail/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'accountIds'] = @api_client.build_collection_param(opts[:'account_ids'], :multi) if !opts[:'account_ids'].nil?
      query_params[:'providers'] = @api_client.build_collection_param(opts[:'providers'], :multi) if !opts[:'providers'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'subject'] = opts[:'subject'] if !opts[:'subject'].nil?
      query_params[:'hasAttachment'] = opts[:'has_attachment'] if !opts[:'has_attachment'].nil?
      query_params[:'isUnread'] = opts[:'is_unread'] if !opts[:'is_unread'].nil?
      query_params[:'isStarred'] = opts[:'is_starred'] if !opts[:'is_starred'].nil?
      query_params[:'labels'] = @api_client.build_collection_param(opts[:'labels'], :multi) if !opts[:'labels'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'nextPageToken'] = opts[:'next_page_token'] if !opts[:'next_page_token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Workspace-ID'] = opts[:'x_workspace_id'] if !opts[:'x_workspace_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SearchEmailsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailApi.search_emails",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#search_emails\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send a draft.
    # Submits the draft as an outbound message. The draft is consumed by the provider — subsequent `getDraft`/`updateDraft` calls return `404`. 
    # @param id [String] Draft id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Connected-account row id. Selects which provider account this request targets when more than one is connected. Mutually exclusive with &#x60;provider&#x60;. If omitted on a list endpoint the call fans out across every connected account. 
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [SendEmailResponse]
    def send_draft(id, opts = {})
      data, _status_code, _headers = send_draft_with_http_info(id, opts)
      data
    end

    # Send a draft.
    # Submits the draft as an outbound message. The draft is consumed by the provider — subsequent &#x60;getDraft&#x60;/&#x60;updateDraft&#x60; calls return &#x60;404&#x60;. 
    # @param id [String] Draft id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Connected-account row id. Selects which provider account this request targets when more than one is connected. Mutually exclusive with &#x60;provider&#x60;. If omitted on a list endpoint the call fans out across every connected account. 
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [Array<(SendEmailResponse, Integer, Hash)>] SendEmailResponse data, response status code and response headers
    def send_draft_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.send_draft ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.send_draft"
      end
      # resource path
      local_var_path = '/v1/mail/drafts/{id}/send'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Workspace-ID'] = opts[:'x_workspace_id'] if !opts[:'x_workspace_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SendEmailResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailApi.send_draft",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#send_draft\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send an email.
    # Sends through the resolved connected account (auto-picks if the caller has exactly one connected mail account; errors `ambiguous_account` otherwise unless `accountId` is supplied). 
    # @param send_email_request [SendEmailRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [SendEmailResponse]
    def send_email(send_email_request, opts = {})
      data, _status_code, _headers = send_email_with_http_info(send_email_request, opts)
      data
    end

    # Send an email.
    # Sends through the resolved connected account (auto-picks if the caller has exactly one connected mail account; errors &#x60;ambiguous_account&#x60; otherwise unless &#x60;accountId&#x60; is supplied). 
    # @param send_email_request [SendEmailRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [Array<(SendEmailResponse, Integer, Hash)>] SendEmailResponse data, response status code and response headers
    def send_email_with_http_info(send_email_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.send_email ...'
      end
      # verify the required parameter 'send_email_request' is set
      if @api_client.config.client_side_validation && send_email_request.nil?
        fail ArgumentError, "Missing the required parameter 'send_email_request' when calling MailApi.send_email"
      end
      # resource path
      local_var_path = '/v1/mail/send'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Workspace-ID'] = opts[:'x_workspace_id'] if !opts[:'x_workspace_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(send_email_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SendEmailResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailApi.send_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#send_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a draft (full replacement of provided fields).
    # PUT replaces the full set of provided fields on the draft. Fields omitted from the body are not modified. 
    # @param id [String] Draft id.
    # @param update_draft_request [UpdateDraftRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Connected-account row id. Selects which provider account this request targets when more than one is connected. Mutually exclusive with &#x60;provider&#x60;. If omitted on a list endpoint the call fans out across every connected account. 
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [DraftResponse]
    def update_draft(id, update_draft_request, opts = {})
      data, _status_code, _headers = update_draft_with_http_info(id, update_draft_request, opts)
      data
    end

    # Update a draft (full replacement of provided fields).
    # PUT replaces the full set of provided fields on the draft. Fields omitted from the body are not modified. 
    # @param id [String] Draft id.
    # @param update_draft_request [UpdateDraftRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Connected-account row id. Selects which provider account this request targets when more than one is connected. Mutually exclusive with &#x60;provider&#x60;. If omitted on a list endpoint the call fans out across every connected account. 
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [Array<(DraftResponse, Integer, Hash)>] DraftResponse data, response status code and response headers
    def update_draft_with_http_info(id, update_draft_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.update_draft ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.update_draft"
      end
      # verify the required parameter 'update_draft_request' is set
      if @api_client.config.client_side_validation && update_draft_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_draft_request' when calling MailApi.update_draft"
      end
      # resource path
      local_var_path = '/v1/mail/drafts/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Workspace-ID'] = opts[:'x_workspace_id'] if !opts[:'x_workspace_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_draft_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DraftResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailApi.update_draft",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#update_draft\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an email (mark read/star, add/remove labels).
    # @param id [String] Email message id.
    # @param update_email_request [UpdateEmailRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Connected-account row id. Selects which provider account this request targets when more than one is connected. Mutually exclusive with &#x60;provider&#x60;. If omitted on a list endpoint the call fans out across every connected account. 
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [UpdateEmailResponse]
    def update_email(id, update_email_request, opts = {})
      data, _status_code, _headers = update_email_with_http_info(id, update_email_request, opts)
      data
    end

    # Update an email (mark read/star, add/remove labels).
    # @param id [String] Email message id.
    # @param update_email_request [UpdateEmailRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Connected-account row id. Selects which provider account this request targets when more than one is connected. Mutually exclusive with &#x60;provider&#x60;. If omitted on a list endpoint the call fans out across every connected account. 
    # @option opts [String] :x_workspace_id Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly. 
    # @return [Array<(UpdateEmailResponse, Integer, Hash)>] UpdateEmailResponse data, response status code and response headers
    def update_email_with_http_info(id, update_email_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.update_email ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.update_email"
      end
      # verify the required parameter 'update_email_request' is set
      if @api_client.config.client_side_validation && update_email_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_email_request' when calling MailApi.update_email"
      end
      # resource path
      local_var_path = '/v1/mail/email/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Workspace-ID'] = opts[:'x_workspace_id'] if !opts[:'x_workspace_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_email_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateEmailResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailApi.update_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#update_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a mail template.
    # @param id [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def update_mail_template(id, request_body, opts = {})
      data, _status_code, _headers = update_mail_template_with_http_info(id, request_body, opts)
      data
    end

    # Update a mail template.
    # @param id [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def update_mail_template_with_http_info(id, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.update_mail_template ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.update_mail_template"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling MailApi.update_mail_template"
      end
      # resource path
      local_var_path = '/v1/mail/templates/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailApi.update_mail_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#update_mail_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param message_id [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def workspace_add_mail_message_labels(org, workspace, message_id, request_body, opts = {})
      data, _status_code, _headers = workspace_add_mail_message_labels_with_http_info(org, workspace, message_id, request_body, opts)
      data
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param message_id [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def workspace_add_mail_message_labels_with_http_info(org, workspace, message_id, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.workspace_add_mail_message_labels ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
[...]
