=begin
#SpatioAPI

#The REST API that owns every resource in your Spatio workspace: notes, sheets, slides, tasks, calendar events, mail, chat, files, and contacts. SpatioMCP wraps this API; Spatio Desktop reads from it. You can call it directly from your own code.  All requests must be authenticated with a Personal Access Token (`Authorization: Bearer pat_...`) or an OAuth 2.1 access token, and use HTTPS.  Official SDKs (MIT, generated from this spec on every release):  - TypeScript: https://github.com/spatio-labs/spatio-ts (`npm install @spatio/sdk-ts`) - Python: https://github.com/spatio-labs/spatio-py (`pip install spatio-sdk`) - Go: https://github.com/spatio-labs/spatio-go (`go get github.com/spatio-labs/spatio-go`)  This specification is generated from the platform-service Go source on every push to `main`. The spec, not hand-written documentation, is the source of truth: server stubs and SDKs are generated from it, and any drift between the spec and the running service fails CI. 

The version of the OpenAPI document: v1
Contact: hello@spatio.app
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Spatio
  class NativeDMApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add a reaction to a DM message.
    # @param message_id [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def add_native_dm_reaction(message_id, request_body, opts = {})
      data, _status_code, _headers = add_native_dm_reaction_with_http_info(message_id, request_body, opts)
      data
    end

    # Add a reaction to a DM message.
    # @param message_id [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def add_native_dm_reaction_with_http_info(message_id, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NativeDMApi.add_native_dm_reaction ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling NativeDMApi.add_native_dm_reaction"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling NativeDMApi.add_native_dm_reaction"
      end
      # resource path
      local_var_path = '/v1/native/dm/messages/{messageId}/reactions'.sub('{messageId}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"NativeDMApi.add_native_dm_reaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NativeDMApi#add_native_dm_reaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Attach a file to a DM message.
    # @param message_id [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def attach_to_native_dm_message(message_id, request_body, opts = {})
      data, _status_code, _headers = attach_to_native_dm_message_with_http_info(message_id, request_body, opts)
      data
    end

    # Attach a file to a DM message.
    # @param message_id [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def attach_to_native_dm_message_with_http_info(message_id, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NativeDMApi.attach_to_native_dm_message ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling NativeDMApi.attach_to_native_dm_message"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling NativeDMApi.attach_to_native_dm_message"
      end
      # resource path
      local_var_path = '/v1/native/dm/messages/{messageId}/attachments'.sub('{messageId}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"NativeDMApi.attach_to_native_dm_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NativeDMApi#attach_to_native_dm_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a DM message.
    # @param dm_id [String] 
    # @param message_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_native_dm_message(dm_id, message_id, opts = {})
      delete_native_dm_message_with_http_info(dm_id, message_id, opts)
      nil
    end

    # Delete a DM message.
    # @param dm_id [String] 
    # @param message_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_native_dm_message_with_http_info(dm_id, message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NativeDMApi.delete_native_dm_message ...'
      end
      # verify the required parameter 'dm_id' is set
      if @api_client.config.client_side_validation && dm_id.nil?
        fail ArgumentError, "Missing the required parameter 'dm_id' when calling NativeDMApi.delete_native_dm_message"
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling NativeDMApi.delete_native_dm_message"
      end
      # resource path
      local_var_path = '/v1/native/dm/{dmId}/messages/{messageId}'.sub('{dmId}', CGI.escape(dm_id.to_s)).sub('{messageId}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"NativeDMApi.delete_native_dm_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NativeDMApi#delete_native_dm_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Forward a DM message to another conversation.
    # @param message_id [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def forward_native_dm_message(message_id, request_body, opts = {})
      data, _status_code, _headers = forward_native_dm_message_with_http_info(message_id, request_body, opts)
      data
    end

    # Forward a DM message to another conversation.
    # @param message_id [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def forward_native_dm_message_with_http_info(message_id, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NativeDMApi.forward_native_dm_message ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling NativeDMApi.forward_native_dm_message"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling NativeDMApi.forward_native_dm_message"
      end
      # resource path
      local_var_path = '/v1/native/dm/messages/{messageId}/forward'.sub('{messageId}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"NativeDMApi.forward_native_dm_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NativeDMApi#forward_native_dm_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the caller's DM channels.
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def list_native_dm_channels(opts = {})
      data, _status_code, _headers = list_native_dm_channels_with_http_info(opts)
      data
    end

    # List the caller&#39;s DM channels.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def list_native_dm_channels_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NativeDMApi.list_native_dm_channels ...'
      end
      # resource path
      local_var_path = '/v1/native/dm'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"NativeDMApi.list_native_dm_channels",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NativeDMApi#list_native_dm_channels\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List DM conversations with metadata (last message, unread count, etc.).
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def list_native_dm_conversations(opts = {})
      data, _status_code, _headers = list_native_dm_conversations_with_http_info(opts)
      data
    end

    # List DM conversations with metadata (last message, unread count, etc.).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def list_native_dm_conversations_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NativeDMApi.list_native_dm_conversations ...'
      end
      # resource path
      local_var_path = '/v1/native/dm/conversations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"NativeDMApi.list_native_dm_conversations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NativeDMApi#list_native_dm_conversations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List messages in a DM.
    # @param dm_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def list_native_dm_messages(dm_id, opts = {})
      data, _status_code, _headers = list_native_dm_messages_with_http_info(dm_id, opts)
      data
    end

    # List messages in a DM.
    # @param dm_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def list_native_dm_messages_with_http_info(dm_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NativeDMApi.list_native_dm_messages ...'
      end
      # verify the required parameter 'dm_id' is set
      if @api_client.config.client_side_validation && dm_id.nil?
        fail ArgumentError, "Missing the required parameter 'dm_id' when calling NativeDMApi.list_native_dm_messages"
      end
      # resource path
      local_var_path = '/v1/native/dm/{dmId}/messages'.sub('{dmId}', CGI.escape(dm_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"NativeDMApi.list_native_dm_messages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NativeDMApi#list_native_dm_messages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List pinned messages in a DM.
    # @param dm_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def list_native_dm_pinned_messages(dm_id, opts = {})
      data, _status_code, _headers = list_native_dm_pinned_messages_with_http_info(dm_id, opts)
      data
    end

    # List pinned messages in a DM.
    # @param dm_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def list_native_dm_pinned_messages_with_http_info(dm_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NativeDMApi.list_native_dm_pinned_messages ...'
      end
      # verify the required parameter 'dm_id' is set
      if @api_client.config.client_side_validation && dm_id.nil?
        fail ArgumentError, "Missing the required parameter 'dm_id' when calling NativeDMApi.list_native_dm_pinned_messages"
      end
      # resource path
      local_var_path = '/v1/native/dm/{dmId}/pinned'.sub('{dmId}', CGI.escape(dm_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"NativeDMApi.list_native_dm_pinned_messages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NativeDMApi#list_native_dm_pinned_messages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List threaded replies on a message.
    # @param dm_id [String] 
    # @param message_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def list_native_dm_thread_replies(dm_id, message_id, opts = {})
      data, _status_code, _headers = list_native_dm_thread_replies_with_http_info(dm_id, message_id, opts)
      data
    end

    # List threaded replies on a message.
    # @param dm_id [String] 
    # @param message_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def list_native_dm_thread_replies_with_http_info(dm_id, message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NativeDMApi.list_native_dm_thread_replies ...'
      end
      # verify the required parameter 'dm_id' is set
      if @api_client.config.client_side_validation && dm_id.nil?
        fail ArgumentError, "Missing the required parameter 'dm_id' when calling NativeDMApi.list_native_dm_thread_replies"
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling NativeDMApi.list_native_dm_thread_replies"
      end
      # resource path
      local_var_path = '/v1/native/dm/{dmId}/messages/{messageId}/replies'.sub('{dmId}', CGI.escape(dm_id.to_s)).sub('{messageId}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"NativeDMApi.list_native_dm_thread_replies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NativeDMApi#list_native_dm_thread_replies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mark a DM as read.
    # @param dm_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def mark_native_dm_read(dm_id, opts = {})
      mark_native_dm_read_with_http_info(dm_id, opts)
      nil
    end

    # Mark a DM as read.
    # @param dm_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def mark_native_dm_read_with_http_info(dm_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NativeDMApi.mark_native_dm_read ...'
      end
      # verify the required parameter 'dm_id' is set
      if @api_client.config.client_side_validation && dm_id.nil?
        fail ArgumentError, "Missing the required parameter 'dm_id' when calling NativeDMApi.mark_native_dm_read"
      end
      # resource path
      local_var_path = '/v1/native/dm/{dmId}/read'.sub('{dmId}', CGI.escape(dm_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"NativeDMApi.mark_native_dm_read",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NativeDMApi#mark_native_dm_read\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mute a DM.
    # @param dm_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Hash<String, Object>] :request_body 
    # @return [nil]
    def mute_native_dm(dm_id, opts = {})
      mute_native_dm_with_http_info(dm_id, opts)
      nil
    end

    # Mute a DM.
    # @param dm_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Hash<String, Object>] :request_body 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def mute_native_dm_with_http_info(dm_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NativeDMApi.mute_native_dm ...'
      end
      # verify the required parameter 'dm_id' is set
      if @api_client.config.client_side_validation && dm_id.nil?
        fail ArgumentError, "Missing the required parameter 'dm_id' when calling NativeDMApi.mute_native_dm"
      end
      # resource path
      local_var_path = '/v1/native/dm/{dmId}/mute'.sub('{dmId}', CGI.escape(dm_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'request_body'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"NativeDMApi.mute_native_dm",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NativeDMApi#mute_native_dm\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Pin a DM conversation in the sidebar.
    # @param dm_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def pin_native_dm_conversation(dm_id, opts = {})
      pin_native_dm_conversation_with_http_info(dm_id, opts)
      nil
    end

    # Pin a DM conversation in the sidebar.
    # @param dm_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def pin_native_dm_conversation_with_http_info(dm_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NativeDMApi.pin_native_dm_conversation ...'
      end
      # verify the required parameter 'dm_id' is set
      if @api_client.config.client_side_validation && dm_id.nil?
        fail ArgumentError, "Missing the required parameter 'dm_id' when calling NativeDMApi.pin_native_dm_conversation"
      end
      # resource path
      local_var_path = '/v1/native/dm/{dmId}/pin'.sub('{dmId}', CGI.escape(dm_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"NativeDMApi.pin_native_dm_conversation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NativeDMApi#pin_native_dm_conversation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Pin a DM message.
    # @param message_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def pin_native_dm_message(message_id, opts = {})
      pin_native_dm_message_with_http_info(message_id, opts)
      nil
    end

    # Pin a DM message.
    # @param message_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def pin_native_dm_message_with_http_info(message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NativeDMApi.pin_native_dm_message ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling NativeDMApi.pin_native_dm_message"
      end
      # resource path
      local_var_path = '/v1/native/dm/messages/{messageId}/pin'.sub('{messageId}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"NativeDMApi.pin_native_dm_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NativeDMApi#pin_native_dm_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Post a DM message (top-level entry).
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def post_native_dm_message(request_body, opts = {})
      data, _status_code, _headers = post_native_dm_message_with_http_info(request_body, opts)
      data
    end

    # Post a DM message (top-level entry).
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def post_native_dm_message_with_http_info(request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NativeDMApi.post_native_dm_message ...'
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling NativeDMApi.post_native_dm_message"
      end
      # resource path
      local_var_path = '/v1/native/dm'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"NativeDMApi.post_native_dm_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NativeDMApi#post_native_dm_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Post a threaded reply.
    # @param dm_id [String] 
    # @param message_id [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def post_native_dm_thread_reply(dm_id, message_id, request_body, opts = {})
      data, _status_code, _headers = post_native_dm_thread_reply_with_http_info(dm_id, message_id, request_body, opts)
      data
    end

    # Post a threaded reply.
    # @param dm_id [String] 
    # @param message_id [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def post_native_dm_thread_reply_with_http_info(dm_id, message_id, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NativeDMApi.post_native_dm_thread_reply ...'
      end
      # verify the required parameter 'dm_id' is set
      if @api_client.config.client_side_validation && dm_id.nil?
        fail ArgumentError, "Missing the required parameter 'dm_id' when calling NativeDMApi.post_native_dm_thread_reply"
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling NativeDMApi.post_native_dm_thread_reply"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling NativeDMApi.post_native_dm_thread_reply"
      end
      # resource path
      local_var_path = '/v1/native/dm/{dmId}/messages/{messageId}/replies'.sub('{dmId}', CGI.escape(dm_id.to_s)).sub('{messageId}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"NativeDMApi.post_native_dm_thread_reply",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NativeDMApi#post_native_dm_thread_reply\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a reaction.
    # @param message_id [String] 
    # @param emoji [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def remove_native_dm_reaction(message_id, emoji, opts = {})
      remove_native_dm_reaction_with_http_info(message_id, emoji, opts)
      nil
    end

    # Remove a reaction.
    # @param message_id [String] 
    # @param emoji [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def remove_native_dm_reaction_with_http_info(message_id, emoji, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NativeDMApi.remove_native_dm_reaction ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling NativeDMApi.remove_native_dm_reaction"
      end
      # verify the required parameter 'emoji' is set
      if @api_client.config.client_side_validation && emoji.nil?
        fail ArgumentError, "Missing the required parameter 'emoji' when calling NativeDMApi.remove_native_dm_reaction"
      end
      # resource path
      local_var_path = '/v1/native/dm/messages/{messageId}/reactions/{emoji}'.sub('{messageId}', CGI.escape(message_id.to_s)).sub('{emoji}', CGI.escape(emoji.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"NativeDMApi.remove_native_dm_reaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NativeDMApi#remove_native_dm_reaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search DM messages.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :q 
    # @return [Hash<String, Object>]
    def search_native_dm_messages(opts = {})
      data, _status_code, _headers = search_native_dm_messages_with_http_info(opts)
      data
    end

    # Search DM messages.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :q 
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def search_native_dm_messages_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NativeDMApi.search_native_dm_messages ...'
      end
      # resource path
      local_var_path = '/v1/native/dm/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"NativeDMApi.search_native_dm_messages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NativeDMApi#search_native_dm_messages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Save a draft on a DM conversation.
    # @param dm_id [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def set_native_dm_draft(dm_id, request_body, opts = {})
      set_native_dm_draft_with_http_info(dm_id, request_body, opts)
      nil
    end

    # Save a draft on a DM conversation.
    # @param dm_id [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def set_native_dm_draft_with_http_info(dm_id, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NativeDMApi.set_native_dm_draft ...'
      end
      # verify the required parameter 'dm_id' is set
      if @api_client.config.client_side_validation && dm_id.nil?
        fail ArgumentError, "Missing the required parameter 'dm_id' when calling NativeDMApi.set_native_dm_draft"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling NativeDMApi.set_native_dm_draft"
      end
      # resource path
      local_var_path = '/v1/native/dm/{dmId}/draft'.sub('{dmId}', CGI.escape(dm_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"NativeDMApi.set_native_dm_draft",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NativeDMApi#set_native_dm_draft\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unpin a DM conversation.
    # @param dm_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def unpin_native_dm_conversation(dm_id, opts = {})
      unpin_native_dm_conversation_with_http_info(dm_id, opts)
      nil
    end

    # Unpin a DM conversation.
    # @param dm_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def unpin_native_dm_conversation_with_http_info(dm_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NativeDMApi.unpin_native_dm_conversation ...'
      end
      # verify the required parameter 'dm_id' is set
      if @api_client.config.client_side_validation && dm_id.nil?
        fail ArgumentError, "Missing the required parameter 'dm_id' when calling NativeDMApi.unpin_native_dm_conversation"
      end
      # resource path
      local_var_path = '/v1/native/dm/{dmId}/pin'.sub('{dmId}', CGI.escape(dm_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"NativeDMApi.unpin_native_dm_conversation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NativeDMApi#unpin_native_dm_conversation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unpin a DM message.
    # @param message_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def unpin_native_dm_message(message_id, opts = {})
      unpin_native_dm_message_with_http_info(message_id, opts)
      nil
    end

    # Unpin a DM message.
    # @param message_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def unpin_native_dm_message_with_http_info(message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NativeDMApi.unpin_native_dm_message ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling NativeDMApi.unpin_native_dm_message"
      end
      # resource path
      local_var_path = '/v1/native/dm/messages/{messageId}/pin'.sub('{messageId}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"NativeDMApi.unpin_native_dm_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NativeDMApi#unpin_native_dm_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a DM message body.
    # @param dm_id [String] 
    # @param message_id [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def update_native_dm_message(dm_id, message_id, request_body, opts = {})
      data, _status_code, _headers = update_native_dm_message_with_http_info(dm_id, message_id, request_body, opts)
      data
    end

    # Update a DM message body.
    # @param dm_id [String] 
    # @param message_id [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def update_native_dm_message_with_http_info(dm_id, message_id, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NativeDMApi.update_native_dm_message ...'
      end
      # verify the required parameter 'dm_id' is set
      if @api_client.config.client_side_validation && dm_id.nil?
        fail ArgumentError, "Missing the required parameter 'dm_id' when calling NativeDMApi.update_native_dm_message"
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling NativeDMApi.update_native_dm_message"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling NativeDMApi.update_native_dm_message"
      end
      # resource path
      local_var_path = '/v1/native/dm/{dmId}/messages/{messageId}'.sub('{dmId}', CGI.escape(dm_id.to_s)).sub('{messageId}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"NativeDMApi.update_native_dm_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NativeDMApi#update_native_dm_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
