=begin
#SpatioAPI

#The REST API that owns every resource in your Spatio workspace: notes, sheets, slides, tasks, calendar events, mail, chat, files, and contacts. SpatioMCP wraps this API; Spatio Desktop reads from it. You can call it directly from your own code.  All requests must be authenticated with a Personal Access Token (`Authorization: Bearer pat_...`) or an OAuth 2.1 access token, and use HTTPS.  Official SDKs (MIT, generated from this spec on every release):  - TypeScript: https://github.com/spatio-labs/spatio-ts (`npm install @spatio-labs/spatio-ts`) - Python: https://github.com/spatio-labs/spatio-py (`pip install spatio-sdk`) - Go: https://github.com/spatio-labs/spatio-go (`go get github.com/spatio-labs/spatio-go`)  This specification is generated from the platform-service Go source on every push to `main`. The spec, not hand-written documentation, is the source of truth: server stubs and SDKs are generated from it, and any drift between the spec and the running service fails CI. 

The version of the OpenAPI document: v1
Contact: hello@spatio.app
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Spatio
  class PersonalAccessTokensApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new PAT. The full token is returned only once on creation; the API never reveals the secret again. 
    # @param create_pat_request [CreatePATRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreatePATResponse]
    def create_personal_access_token(create_pat_request, opts = {})
      data, _status_code, _headers = create_personal_access_token_with_http_info(create_pat_request, opts)
      data
    end

    # Create a new PAT. The full token is returned only once on creation; the API never reveals the secret again. 
    # @param create_pat_request [CreatePATRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreatePATResponse, Integer, Hash)>] CreatePATResponse data, response status code and response headers
    def create_personal_access_token_with_http_info(create_pat_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PersonalAccessTokensApi.create_personal_access_token ...'
      end
      # verify the required parameter 'create_pat_request' is set
      if @api_client.config.client_side_validation && create_pat_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_pat_request' when calling PersonalAccessTokensApi.create_personal_access_token"
      end
      # resource path
      local_var_path = '/v1/tokens'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_pat_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreatePATResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PersonalAccessTokensApi.create_personal_access_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PersonalAccessTokensApi#create_personal_access_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the scope strings PATs can be issued with.
    # @param [Hash] opts the optional parameters
    # @return [PATScopesResponse]
    def list_available_pat_scopes(opts = {})
      data, _status_code, _headers = list_available_pat_scopes_with_http_info(opts)
      data
    end

    # List the scope strings PATs can be issued with.
    # @param [Hash] opts the optional parameters
    # @return [Array<(PATScopesResponse, Integer, Hash)>] PATScopesResponse data, response status code and response headers
    def list_available_pat_scopes_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PersonalAccessTokensApi.list_available_pat_scopes ...'
      end
      # resource path
      local_var_path = '/v1/tokens/scopes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PATScopesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PersonalAccessTokensApi.list_available_pat_scopes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PersonalAccessTokensApi#list_available_pat_scopes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the caller's personal access tokens (with available scopes).
    # @param [Hash] opts the optional parameters
    # @return [PATListResponse]
    def list_personal_access_tokens(opts = {})
      data, _status_code, _headers = list_personal_access_tokens_with_http_info(opts)
      data
    end

    # List the caller&#39;s personal access tokens (with available scopes).
    # @param [Hash] opts the optional parameters
    # @return [Array<(PATListResponse, Integer, Hash)>] PATListResponse data, response status code and response headers
    def list_personal_access_tokens_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PersonalAccessTokensApi.list_personal_access_tokens ...'
      end
      # resource path
      local_var_path = '/v1/tokens'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PATListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PersonalAccessTokensApi.list_personal_access_tokens",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PersonalAccessTokensApi#list_personal_access_tokens\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke a PAT.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def revoke_personal_access_token(id, opts = {})
      revoke_personal_access_token_with_http_info(id, opts)
      nil
    end

    # Revoke a PAT.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def revoke_personal_access_token_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PersonalAccessTokensApi.revoke_personal_access_token ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PersonalAccessTokensApi.revoke_personal_access_token"
      end
      # resource path
      local_var_path = '/v1/tokens/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PersonalAccessTokensApi.revoke_personal_access_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PersonalAccessTokensApi#revoke_personal_access_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rename or re-describe a PAT (scopes are immutable).
    # @param id [String] 
    # @param update_pat_request [UpdatePATRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PersonalAccessToken]
    def update_personal_access_token(id, update_pat_request, opts = {})
      data, _status_code, _headers = update_personal_access_token_with_http_info(id, update_pat_request, opts)
      data
    end

    # Rename or re-describe a PAT (scopes are immutable).
    # @param id [String] 
    # @param update_pat_request [UpdatePATRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PersonalAccessToken, Integer, Hash)>] PersonalAccessToken data, response status code and response headers
    def update_personal_access_token_with_http_info(id, update_pat_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PersonalAccessTokensApi.update_personal_access_token ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PersonalAccessTokensApi.update_personal_access_token"
      end
      # verify the required parameter 'update_pat_request' is set
      if @api_client.config.client_side_validation && update_pat_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_pat_request' when calling PersonalAccessTokensApi.update_personal_access_token"
      end
      # resource path
      local_var_path = '/v1/tokens/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_pat_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PersonalAccessToken'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PersonalAccessTokensApi.update_personal_access_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PersonalAccessTokensApi#update_personal_access_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def workspace_create_pat(org, workspace, request_body, opts = {})
      data, _status_code, _headers = workspace_create_pat_with_http_info(org, workspace, request_body, opts)
      data
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def workspace_create_pat_with_http_info(org, workspace, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PersonalAccessTokensApi.workspace_create_pat ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling PersonalAccessTokensApi.workspace_create_pat"
      end
      # verify the required parameter 'workspace' is set
      if @api_client.config.client_side_validation && workspace.nil?
        fail ArgumentError, "Missing the required parameter 'workspace' when calling PersonalAccessTokensApi.workspace_create_pat"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling PersonalAccessTokensApi.workspace_create_pat"
      end
      # resource path
      local_var_path = '/v1/organizations/{org}/workspaces/{workspace}/tokens'.sub('{org}', CGI.escape(org.to_s)).sub('{workspace}', CGI.escape(workspace.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PersonalAccessTokensApi.workspace_create_pat",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PersonalAccessTokensApi#workspace_create_pat\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def workspace_list_pats(org, workspace, opts = {})
      data, _status_code, _headers = workspace_list_pats_with_http_info(org, workspace, opts)
      data
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def workspace_list_pats_with_http_info(org, workspace, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PersonalAccessTokensApi.workspace_list_pats ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling PersonalAccessTokensApi.workspace_list_pats"
      end
      # verify the required parameter 'workspace' is set
      if @api_client.config.client_side_validation && workspace.nil?
        fail ArgumentError, "Missing the required parameter 'workspace' when calling PersonalAccessTokensApi.workspace_list_pats"
      end
      # resource path
      local_var_path = '/v1/organizations/{org}/workspaces/{workspace}/tokens'.sub('{org}', CGI.escape(org.to_s)).sub('{workspace}', CGI.escape(workspace.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PersonalAccessTokensApi.workspace_list_pats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PersonalAccessTokensApi#workspace_list_pats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def workspace_revoke_pat(org, workspace, id, opts = {})
      workspace_revoke_pat_with_http_info(org, workspace, id, opts)
      nil
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def workspace_revoke_pat_with_http_info(org, workspace, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PersonalAccessTokensApi.workspace_revoke_pat ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling PersonalAccessTokensApi.workspace_revoke_pat"
      end
      # verify the required parameter 'workspace' is set
      if @api_client.config.client_side_validation && workspace.nil?
        fail ArgumentError, "Missing the required parameter 'workspace' when calling PersonalAccessTokensApi.workspace_revoke_pat"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PersonalAccessTokensApi.workspace_revoke_pat"
      end
      # resource path
      local_var_path = '/v1/organizations/{org}/workspaces/{workspace}/tokens/{id}'.sub('{org}', CGI.escape(org.to_s)).sub('{workspace}', CGI.escape(workspace.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PersonalAccessTokensApi.workspace_revoke_pat",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PersonalAccessTokensApi#workspace_revoke_pat\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param id [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def workspace_update_pat(org, workspace, id, request_body, opts = {})
      data, _status_code, _headers = workspace_update_pat_with_http_info(org, workspace, id, request_body, opts)
      data
    end

    # @param org [String] 
    # @param workspace [String] 
    # @param id [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def workspace_update_pat_with_http_info(org, workspace, id, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PersonalAccessTokensApi.workspace_update_pat ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling PersonalAccessTokensApi.workspace_update_pat"
      end
      # verify the required parameter 'workspace' is set
      if @api_client.config.client_side_validation && workspace.nil?
        fail ArgumentError, "Missing the required parameter 'workspace' when calling PersonalAccessTokensApi.workspace_update_pat"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PersonalAccessTokensApi.workspace_update_pat"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling PersonalAccessTokensApi.workspace_update_pat"
      end
      # resource path
      local_var_path = '/v1/organizations/{org}/workspaces/{workspace}/tokens/{id}'.sub('{org}', CGI.escape(org.to_s)).sub('{workspace}', CGI.escape(workspace.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PersonalAccessTokensApi.workspace_update_pat",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PersonalAccessTokensApi#workspace_update_pat\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
