=begin
#SpatioAPI

#The REST API that owns every resource in your Spatio workspace: notes, sheets, slides, tasks, calendar events, mail, chat, files, and contacts. SpatioMCP wraps this API; Spatio Desktop reads from it. You can call it directly from your own code.  All requests must be authenticated with a Personal Access Token (`Authorization: Bearer pat_...`) or an OAuth 2.1 access token, and use HTTPS.  Official SDKs (MIT, generated from this spec on every release):  - TypeScript: https://github.com/spatio-labs/spatio-ts (`npm install @spatio-labs/spatio-ts`) - Python: https://github.com/spatio-labs/spatio-py (`pip install spatio-sdk`) - Go: https://github.com/spatio-labs/spatio-go (`go get github.com/spatio-labs/spatio-go`)  This specification is generated from the platform-service Go source on every push to `main`. The spec, not hand-written documentation, is the source of truth: server stubs and SDKs are generated from it, and any drift between the spec and the running service fails CI. 

The version of the OpenAPI document: v1
Contact: hello@spatio.app
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Spatio
  class PlatformsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add a connected account for a platform/provider pair.
    # @param platform_id [String] 
    # @param provider [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def add_platform_provider_account(platform_id, provider, request_body, opts = {})
      data, _status_code, _headers = add_platform_provider_account_with_http_info(platform_id, provider, request_body, opts)
      data
    end

    # Add a connected account for a platform/provider pair.
    # @param platform_id [String] 
    # @param provider [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def add_platform_provider_account_with_http_info(platform_id, provider, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformsApi.add_platform_provider_account ...'
      end
      # verify the required parameter 'platform_id' is set
      if @api_client.config.client_side_validation && platform_id.nil?
        fail ArgumentError, "Missing the required parameter 'platform_id' when calling PlatformsApi.add_platform_provider_account"
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling PlatformsApi.add_platform_provider_account"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling PlatformsApi.add_platform_provider_account"
      end
      # resource path
      local_var_path = '/v1/platforms/{platformId}/providers/{provider}/accounts'.sub('{platformId}', CGI.escape(platform_id.to_s)).sub('{provider}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PlatformsApi.add_platform_provider_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformsApi#add_platform_provider_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or update a secret value.
    # @param platform_id [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def create_or_update_platform_secret(platform_id, request_body, opts = {})
      data, _status_code, _headers = create_or_update_platform_secret_with_http_info(platform_id, request_body, opts)
      data
    end

    # Create or update a secret value.
    # @param platform_id [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def create_or_update_platform_secret_with_http_info(platform_id, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformsApi.create_or_update_platform_secret ...'
      end
      # verify the required parameter 'platform_id' is set
      if @api_client.config.client_side_validation && platform_id.nil?
        fail ArgumentError, "Missing the required parameter 'platform_id' when calling PlatformsApi.create_or_update_platform_secret"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling PlatformsApi.create_or_update_platform_secret"
      end
      # resource path
      local_var_path = '/v1/platforms/{platformId}/secrets'.sub('{platformId}', CGI.escape(platform_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PlatformsApi.create_or_update_platform_secret",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformsApi#create_or_update_platform_secret\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a secret.
    # @param platform_id [String] 
    # @param name [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_platform_secret(platform_id, name, opts = {})
      delete_platform_secret_with_http_info(platform_id, name, opts)
      nil
    end

    # Delete a secret.
    # @param platform_id [String] 
    # @param name [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_platform_secret_with_http_info(platform_id, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformsApi.delete_platform_secret ...'
      end
      # verify the required parameter 'platform_id' is set
      if @api_client.config.client_side_validation && platform_id.nil?
        fail ArgumentError, "Missing the required parameter 'platform_id' when calling PlatformsApi.delete_platform_secret"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling PlatformsApi.delete_platform_secret"
      end
      # resource path
      local_var_path = '/v1/platforms/{platformId}/secrets/{name}'.sub('{platformId}', CGI.escape(platform_id.to_s)).sub('{name}', CGI.escape(name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PlatformsApi.delete_platform_secret",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformsApi#delete_platform_secret\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Run an INSERT/UPDATE/DELETE statement against a platform's store.
    # @param platform_id [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def exec_platform_data(platform_id, request_body, opts = {})
      data, _status_code, _headers = exec_platform_data_with_http_info(platform_id, request_body, opts)
      data
    end

    # Run an INSERT/UPDATE/DELETE statement against a platform&#39;s store.
    # @param platform_id [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def exec_platform_data_with_http_info(platform_id, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformsApi.exec_platform_data ...'
      end
      # verify the required parameter 'platform_id' is set
      if @api_client.config.client_side_validation && platform_id.nil?
        fail ArgumentError, "Missing the required parameter 'platform_id' when calling PlatformsApi.exec_platform_data"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling PlatformsApi.exec_platform_data"
      end
      # resource path
      local_var_path = '/v1/platforms/{platformId}/exec'.sub('{platformId}', CGI.escape(platform_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PlatformsApi.exec_platform_data",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformsApi#exec_platform_data\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Export all secrets for a platform (values included). Caller must be the platform owner. 
    # @param platform_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def export_platform_secrets(platform_id, opts = {})
      data, _status_code, _headers = export_platform_secrets_with_http_info(platform_id, opts)
      data
    end

    # Export all secrets for a platform (values included). Caller must be the platform owner. 
    # @param platform_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def export_platform_secrets_with_http_info(platform_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformsApi.export_platform_secrets ...'
      end
      # verify the required parameter 'platform_id' is set
      if @api_client.config.client_side_validation && platform_id.nil?
        fail ArgumentError, "Missing the required parameter 'platform_id' when calling PlatformsApi.export_platform_secrets"
      end
      # resource path
      local_var_path = '/v1/platforms/{platformId}/secrets/export'.sub('{platformId}', CGI.escape(platform_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PlatformsApi.export_platform_secrets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformsApi#export_platform_secrets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate a short-lived backend JWT a platform's worker can use to call back into platform-service. 
    # @param platform_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def generate_platform_backend_token(platform_id, opts = {})
      data, _status_code, _headers = generate_platform_backend_token_with_http_info(platform_id, opts)
      data
    end

    # Generate a short-lived backend JWT a platform&#39;s worker can use to call back into platform-service. 
    # @param platform_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def generate_platform_backend_token_with_http_info(platform_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformsApi.generate_platform_backend_token ...'
      end
      # verify the required parameter 'platform_id' is set
      if @api_client.config.client_side_validation && platform_id.nil?
        fail ArgumentError, "Missing the required parameter 'platform_id' when calling PlatformsApi.generate_platform_backend_token"
      end
      # resource path
      local_var_path = '/v1/platforms/{platformId}/backend-token'.sub('{platformId}', CGI.escape(platform_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PlatformsApi.generate_platform_backend_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformsApi#generate_platform_backend_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the global platform catalog — every platform that exists, not just the ones the caller has installed. 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def get_platform_catalog(opts = {})
      data, _status_code, _headers = get_platform_catalog_with_http_info(opts)
      data
    end

    # List the global platform catalog — every platform that exists, not just the ones the caller has installed. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def get_platform_catalog_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformsApi.get_platform_catalog ...'
      end
      # resource path
      local_var_path = '/v1/catalog/platforms'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PlatformsApi.get_platform_catalog",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformsApi#get_platform_catalog\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch a platform's manifest (capabilities, schema, UI metadata).
    # @param platform_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def get_platform_manifest(platform_id, opts = {})
      data, _status_code, _headers = get_platform_manifest_with_http_info(platform_id, opts)
      data
    end

    # Fetch a platform&#39;s manifest (capabilities, schema, UI metadata).
    # @param platform_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def get_platform_manifest_with_http_info(platform_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformsApi.get_platform_manifest ...'
      end
      # verify the required parameter 'platform_id' is set
      if @api_client.config.client_side_validation && platform_id.nil?
        fail ArgumentError, "Missing the required parameter 'platform_id' when calling PlatformsApi.get_platform_manifest"
      end
      # resource path
      local_var_path = '/v1/platforms/{platformId}/manifest'.sub('{platformId}', CGI.escape(platform_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PlatformsApi.get_platform_manifest",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformsApi#get_platform_manifest\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List accounts the caller has connected for a platform.
    # @param platform_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def list_platform_accounts(platform_id, opts = {})
      data, _status_code, _headers = list_platform_accounts_with_http_info(platform_id, opts)
      data
    end

    # List accounts the caller has connected for a platform.
    # @param platform_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def list_platform_accounts_with_http_info(platform_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformsApi.list_platform_accounts ...'
      end
      # verify the required parameter 'platform_id' is set
      if @api_client.config.client_side_validation && platform_id.nil?
        fail ArgumentError, "Missing the required parameter 'platform_id' when calling PlatformsApi.list_platform_accounts"
      end
      # resource path
      local_var_path = '/v1/platforms/{platformId}/accounts'.sub('{platformId}', CGI.escape(platform_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PlatformsApi.list_platform_accounts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformsApi#list_platform_accounts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Discover supported providers + capabilities for a platform.
    # @param platform_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def list_platform_providers(platform_id, opts = {})
      data, _status_code, _headers = list_platform_providers_with_http_info(platform_id, opts)
      data
    end

    # Discover supported providers + capabilities for a platform.
    # @param platform_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def list_platform_providers_with_http_info(platform_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformsApi.list_platform_providers ...'
      end
      # verify the required parameter 'platform_id' is set
      if @api_client.config.client_side_validation && platform_id.nil?
        fail ArgumentError, "Missing the required parameter 'platform_id' when calling PlatformsApi.list_platform_providers"
      end
      # resource path
      local_var_path = '/v1/platforms/{platformId}/providers'.sub('{platformId}', CGI.escape(platform_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PlatformsApi.list_platform_providers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformsApi#list_platform_providers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List secret keys (values redacted).
    # @param platform_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def list_platform_secrets(platform_id, opts = {})
      data, _status_code, _headers = list_platform_secrets_with_http_info(platform_id, opts)
      data
    end

    # List secret keys (values redacted).
    # @param platform_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def list_platform_secrets_with_http_info(platform_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformsApi.list_platform_secrets ...'
      end
      # verify the required parameter 'platform_id' is set
      if @api_client.config.client_side_validation && platform_id.nil?
        fail ArgumentError, "Missing the required parameter 'platform_id' when calling PlatformsApi.list_platform_secrets"
      end
      # resource path
      local_var_path = '/v1/platforms/{platformId}/secrets'.sub('{platformId}', CGI.escape(platform_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PlatformsApi.list_platform_secrets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformsApi#list_platform_secrets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List tables in a platform's data store.
    # @param platform_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def list_platform_tables(platform_id, opts = {})
      data, _status_code, _headers = list_platform_tables_with_http_info(platform_id, opts)
      data
    end

    # List tables in a platform&#39;s data store.
    # @param platform_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def list_platform_tables_with_http_info(platform_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformsApi.list_platform_tables ...'
      end
      # verify the required parameter 'platform_id' is set
      if @api_client.config.client_side_validation && platform_id.nil?
        fail ArgumentError, "Missing the required parameter 'platform_id' when calling PlatformsApi.list_platform_tables"
      end
      # resource path
      local_var_path = '/v1/platforms/{platformId}/tables'.sub('{platformId}', CGI.escape(platform_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PlatformsApi.list_platform_tables",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformsApi#list_platform_tables\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List installed platforms for the sidebar.
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def list_platforms(opts = {})
      data, _status_code, _headers = list_platforms_with_http_info(opts)
      data
    end

    # List installed platforms for the sidebar.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def list_platforms_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformsApi.list_platforms ...'
      end
      # resource path
      local_var_path = '/v1/platforms'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PlatformsApi.list_platforms",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformsApi#list_platforms\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Run a SELECT query against a platform's data store.
    # @param platform_id [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def query_platform_data(platform_id, request_body, opts = {})
      data, _status_code, _headers = query_platform_data_with_http_info(platform_id, request_body, opts)
      data
    end

    # Run a SELECT query against a platform&#39;s data store.
    # @param platform_id [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def query_platform_data_with_http_info(platform_id, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformsApi.query_platform_data ...'
      end
      # verify the required parameter 'platform_id' is set
      if @api_client.config.client_side_validation && platform_id.nil?
        fail ArgumentError, "Missing the required parameter 'platform_id' when calling PlatformsApi.query_platform_data"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling PlatformsApi.query_platform_data"
      end
      # resource path
      local_var_path = '/v1/platforms/{platformId}/query'.sub('{platformId}', CGI.escape(platform_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PlatformsApi.query_platform_data",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformsApi#query_platform_data\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Run pending migrations for a platform.
    # @param platform_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def run_platform_migrations(platform_id, opts = {})
      data, _status_code, _headers = run_platform_migrations_with_http_info(platform_id, opts)
      data
    end

    # Run pending migrations for a platform.
    # @param platform_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def run_platform_migrations_with_http_info(platform_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlatformsApi.run_platform_migrations ...'
      end
      # verify the required parameter 'platform_id' is set
      if @api_client.config.client_side_validation && platform_id.nil?
        fail ArgumentError, "Missing the required parameter 'platform_id' when calling PlatformsApi.run_platform_migrations"
      end
      # resource path
      local_var_path = '/v1/platforms/{platformId}/migrate'.sub('{platformId}', CGI.escape(platform_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PlatformsApi.run_platform_migrations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlatformsApi#run_platform_migrations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
