=begin
#SpatioAPI

#The REST API that owns every resource in your Spatio workspace: notes, sheets, slides, tasks, calendar events, mail, chat, files, and contacts. SpatioMCP wraps this API; Spatio Desktop reads from it. You can call it directly from your own code.  All requests must be authenticated with a Personal Access Token (`Authorization: Bearer pat_...`) or an OAuth 2.1 access token, and use HTTPS.  Official SDKs (MIT, generated from this spec on every release):  - TypeScript: https://github.com/spatio-labs/spatio-ts (`npm install @spatio-labs/spatio-ts`) - Python: https://github.com/spatio-labs/spatio-py (`pip install spatio-sdk`) - Go: https://github.com/spatio-labs/spatio-go (`go get github.com/spatio-labs/spatio-go`)  This specification is generated from the platform-service Go source on every push to `main`. The spec, not hand-written documentation, is the source of truth: server stubs and SDKs are generated from it, and any drift between the spec and the running service fails CI. 

The version of the OpenAPI document: v1
Contact: hello@spatio.app
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Spatio
  class RecordsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a record.
    # @param create_record_request [CreateRecordRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Record]
    def create_record(create_record_request, opts = {})
      data, _status_code, _headers = create_record_with_http_info(create_record_request, opts)
      data
    end

    # Create a record.
    # @param create_record_request [CreateRecordRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Record, Integer, Hash)>] Record data, response status code and response headers
    def create_record_with_http_info(create_record_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecordsApi.create_record ...'
      end
      # verify the required parameter 'create_record_request' is set
      if @api_client.config.client_side_validation && create_record_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_record_request' when calling RecordsApi.create_record"
      end
      # resource path
      local_var_path = '/v1/records'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_record_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Record'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RecordsApi.create_record",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecordsApi#create_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a record type (org-scoped).
    # @param create_record_type_request [CreateRecordTypeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RecordType]
    def create_record_type(create_record_type_request, opts = {})
      data, _status_code, _headers = create_record_type_with_http_info(create_record_type_request, opts)
      data
    end

    # Create a record type (org-scoped).
    # @param create_record_type_request [CreateRecordTypeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RecordType, Integer, Hash)>] RecordType data, response status code and response headers
    def create_record_type_with_http_info(create_record_type_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecordsApi.create_record_type ...'
      end
      # verify the required parameter 'create_record_type_request' is set
      if @api_client.config.client_side_validation && create_record_type_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_record_type_request' when calling RecordsApi.create_record_type"
      end
      # resource path
      local_var_path = '/v1/records/types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_record_type_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RecordType'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RecordsApi.create_record_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecordsApi#create_record_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a record.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_record(id, opts = {})
      delete_record_with_http_info(id, opts)
      nil
    end

    # Delete a record.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_record_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecordsApi.delete_record ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RecordsApi.delete_record"
      end
      # resource path
      local_var_path = '/v1/records/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RecordsApi.delete_record",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecordsApi#delete_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch a record.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Record]
    def get_record(id, opts = {})
      data, _status_code, _headers = get_record_with_http_info(id, opts)
      data
    end

    # Fetch a record.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Record, Integer, Hash)>] Record data, response status code and response headers
    def get_record_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecordsApi.get_record ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RecordsApi.get_record"
      end
      # resource path
      local_var_path = '/v1/records/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Record'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RecordsApi.get_record",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecordsApi#get_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List record types for an organization.
    # @param organization_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [RecordTypeListResponse]
    def list_record_types(organization_id, opts = {})
      data, _status_code, _headers = list_record_types_with_http_info(organization_id, opts)
      data
    end

    # List record types for an organization.
    # @param organization_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RecordTypeListResponse, Integer, Hash)>] RecordTypeListResponse data, response status code and response headers
    def list_record_types_with_http_info(organization_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecordsApi.list_record_types ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling RecordsApi.list_record_types"
      end
      # resource path
      local_var_path = '/v1/records/types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'organization_id'] = organization_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RecordTypeListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RecordsApi.list_record_types",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecordsApi#list_record_types\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List records for an organization. `organization_id` query param is required (handler returns 400 otherwise). 
    # @param organization_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :record_type_id 
    # @option opts [Integer] :limit 
    # @return [RecordListResponse]
    def list_records(organization_id, opts = {})
      data, _status_code, _headers = list_records_with_http_info(organization_id, opts)
      data
    end

    # List records for an organization. &#x60;organization_id&#x60; query param is required (handler returns 400 otherwise). 
    # @param organization_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :record_type_id 
    # @option opts [Integer] :limit 
    # @return [Array<(RecordListResponse, Integer, Hash)>] RecordListResponse data, response status code and response headers
    def list_records_with_http_info(organization_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecordsApi.list_records ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling RecordsApi.list_records"
      end
      # resource path
      local_var_path = '/v1/records'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'organization_id'] = organization_id
      query_params[:'record_type_id'] = opts[:'record_type_id'] if !opts[:'record_type_id'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RecordListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RecordsApi.list_records",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecordsApi#list_records\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a record.
    # @param id [String] 
    # @param update_record_request [UpdateRecordRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Record]
    def update_record(id, update_record_request, opts = {})
      data, _status_code, _headers = update_record_with_http_info(id, update_record_request, opts)
      data
    end

    # Update a record.
    # @param id [String] 
    # @param update_record_request [UpdateRecordRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Record, Integer, Hash)>] Record data, response status code and response headers
    def update_record_with_http_info(id, update_record_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecordsApi.update_record ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RecordsApi.update_record"
      end
      # verify the required parameter 'update_record_request' is set
      if @api_client.config.client_side_validation && update_record_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_record_request' when calling RecordsApi.update_record"
      end
      # resource path
      local_var_path = '/v1/records/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_record_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Record'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RecordsApi.update_record",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecordsApi#update_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a record type.
    # @param id [String] 
    # @param update_record_type_request [UpdateRecordTypeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RecordType]
    def update_record_type(id, update_record_type_request, opts = {})
      data, _status_code, _headers = update_record_type_with_http_info(id, update_record_type_request, opts)
      data
    end

    # Update a record type.
    # @param id [String] 
    # @param update_record_type_request [UpdateRecordTypeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RecordType, Integer, Hash)>] RecordType data, response status code and response headers
    def update_record_type_with_http_info(id, update_record_type_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecordsApi.update_record_type ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RecordsApi.update_record_type"
      end
      # verify the required parameter 'update_record_type_request' is set
      if @api_client.config.client_side_validation && update_record_type_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_record_type_request' when calling RecordsApi.update_record_type"
      end
      # resource path
      local_var_path = '/v1/records/types/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_record_type_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RecordType'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RecordsApi.update_record_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecordsApi#update_record_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
