=begin
#SpatioAPI

#The REST API that owns every resource in your Spatio workspace: notes, sheets, slides, tasks, calendar events, mail, chat, files, and contacts. SpatioMCP wraps this API; Spatio Desktop reads from it. You can call it directly from your own code.  All requests must be authenticated with a Personal Access Token (`Authorization: Bearer pat_...`) or an OAuth 2.1 access token, and use HTTPS.  Official SDKs (MIT, generated from this spec on every release):  - TypeScript: https://github.com/spatio-labs/spatio-ts (`npm install @spatio-labs/spatio-ts`) - Python: https://github.com/spatio-labs/spatio-py (`pip install spatio-sdk`) - Go: https://github.com/spatio-labs/spatio-go (`go get github.com/spatio-labs/spatio-go`)  This specification is generated from the platform-service Go source on every push to `main`. The spec, not hand-written documentation, is the source of truth: server stubs and SDKs are generated from it, and any drift between the spec and the running service fails CI. 

The version of the OpenAPI document: v1
Contact: hello@spatio.app
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Spatio
  class RecommendationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete a recommendation (hard delete; status-update is preferred).
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_recommendation(id, opts = {})
      delete_recommendation_with_http_info(id, opts)
      nil
    end

    # Delete a recommendation (hard delete; status-update is preferred).
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_recommendation_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecommendationsApi.delete_recommendation ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RecommendationsApi.delete_recommendation"
      end
      # resource path
      local_var_path = '/v1/recommendations/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RecommendationsApi.delete_recommendation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecommendationsApi#delete_recommendation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch one recommendation.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Recommendation]
    def get_recommendation(id, opts = {})
      data, _status_code, _headers = get_recommendation_with_http_info(id, opts)
      data
    end

    # Fetch one recommendation.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Recommendation, Integer, Hash)>] Recommendation data, response status code and response headers
    def get_recommendation_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecommendationsApi.get_recommendation ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RecommendationsApi.get_recommendation"
      end
      # resource path
      local_var_path = '/v1/recommendations/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Recommendation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RecommendationsApi.get_recommendation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecommendationsApi#get_recommendation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List recommendations for a workspace.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :workspace_id 
    # @option opts [String] :status 
    # @option opts [Integer] :limit 
    # @return [RecommendationListResponse]
    def list_recommendations(opts = {})
      data, _status_code, _headers = list_recommendations_with_http_info(opts)
      data
    end

    # List recommendations for a workspace.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :workspace_id 
    # @option opts [String] :status 
    # @option opts [Integer] :limit 
    # @return [Array<(RecommendationListResponse, Integer, Hash)>] RecommendationListResponse data, response status code and response headers
    def list_recommendations_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecommendationsApi.list_recommendations ...'
      end
      # resource path
      local_var_path = '/v1/recommendations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'workspaceId'] = opts[:'workspace_id'] if !opts[:'workspace_id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RecommendationListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RecommendationsApi.list_recommendations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecommendationsApi#list_recommendations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Agent-side propose endpoint (the `spatio_recommendations propose` MCP tool calls this).
    # @param propose_recommendation_request [ProposeRecommendationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Recommendation]
    def propose_recommendation(propose_recommendation_request, opts = {})
      data, _status_code, _headers = propose_recommendation_with_http_info(propose_recommendation_request, opts)
      data
    end

    # Agent-side propose endpoint (the &#x60;spatio_recommendations propose&#x60; MCP tool calls this).
    # @param propose_recommendation_request [ProposeRecommendationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Recommendation, Integer, Hash)>] Recommendation data, response status code and response headers
    def propose_recommendation_with_http_info(propose_recommendation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecommendationsApi.propose_recommendation ...'
      end
      # verify the required parameter 'propose_recommendation_request' is set
      if @api_client.config.client_side_validation && propose_recommendation_request.nil?
        fail ArgumentError, "Missing the required parameter 'propose_recommendation_request' when calling RecommendationsApi.propose_recommendation"
      end
      # resource path
      local_var_path = '/v1/recommendations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(propose_recommendation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Recommendation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RecommendationsApi.propose_recommendation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecommendationsApi#propose_recommendation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Accept or dismiss a recommendation.
    # @param id [String] 
    # @param update_recommendation_status_request [UpdateRecommendationStatusRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Recommendation]
    def update_recommendation_status(id, update_recommendation_status_request, opts = {})
      data, _status_code, _headers = update_recommendation_status_with_http_info(id, update_recommendation_status_request, opts)
      data
    end

    # Accept or dismiss a recommendation.
    # @param id [String] 
    # @param update_recommendation_status_request [UpdateRecommendationStatusRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Recommendation, Integer, Hash)>] Recommendation data, response status code and response headers
    def update_recommendation_status_with_http_info(id, update_recommendation_status_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecommendationsApi.update_recommendation_status ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RecommendationsApi.update_recommendation_status"
      end
      # verify the required parameter 'update_recommendation_status_request' is set
      if @api_client.config.client_side_validation && update_recommendation_status_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_recommendation_status_request' when calling RecommendationsApi.update_recommendation_status"
      end
      # resource path
      local_var_path = '/v1/recommendations/{id}/status'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_recommendation_status_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Recommendation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RecommendationsApi.update_recommendation_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecommendationsApi#update_recommendation_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
