=begin
#SpatioAPI

#The REST API that owns every resource in your Spatio workspace: notes, sheets, slides, tasks, calendar events, mail, chat, files, and contacts. SpatioMCP wraps this API; Spatio Desktop reads from it. You can call it directly from your own code.  All requests must be authenticated with a Personal Access Token (`Authorization: Bearer pat_...`) or an OAuth 2.1 access token, and use HTTPS.  Official SDKs (MIT, generated from this spec on every release):  - TypeScript: https://github.com/spatio-labs/spatio-ts (`npm install @spatio/sdk-ts`) - Python: https://github.com/spatio-labs/spatio-py (`pip install spatio-sdk`) - Go: https://github.com/spatio-labs/spatio-go (`go get github.com/spatio-labs/spatio-go`)  This specification is generated from the platform-service Go source on every push to `main`. The spec, not hand-written documentation, is the source of truth: server stubs and SDKs are generated from it, and any drift between the spec and the running service fails CI. 

The version of the OpenAPI document: v1
Contact: hello@spatio.app
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Spatio
  class RoutinesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Worker claims a queued run.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [RoutineRun]
    def claim_routine_run(id, opts = {})
      data, _status_code, _headers = claim_routine_run_with_http_info(id, opts)
      data
    end

    # Worker claims a queued run.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RoutineRun, Integer, Hash)>] RoutineRun data, response status code and response headers
    def claim_routine_run_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutinesApi.claim_routine_run ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RoutinesApi.claim_routine_run"
      end
      # resource path
      local_var_path = '/v1/routines/runs/{id}/claim'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RoutineRun'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RoutinesApi.claim_routine_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutinesApi#claim_routine_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Worker marks a run complete.
    # @param id [String] 
    # @param routine_run_complete_request [RoutineRunCompleteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RoutineRun]
    def complete_routine_run(id, routine_run_complete_request, opts = {})
      data, _status_code, _headers = complete_routine_run_with_http_info(id, routine_run_complete_request, opts)
      data
    end

    # Worker marks a run complete.
    # @param id [String] 
    # @param routine_run_complete_request [RoutineRunCompleteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RoutineRun, Integer, Hash)>] RoutineRun data, response status code and response headers
    def complete_routine_run_with_http_info(id, routine_run_complete_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutinesApi.complete_routine_run ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RoutinesApi.complete_routine_run"
      end
      # verify the required parameter 'routine_run_complete_request' is set
      if @api_client.config.client_side_validation && routine_run_complete_request.nil?
        fail ArgumentError, "Missing the required parameter 'routine_run_complete_request' when calling RoutinesApi.complete_routine_run"
      end
      # resource path
      local_var_path = '/v1/routines/runs/{id}/complete'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(routine_run_complete_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RoutineRun'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RoutinesApi.complete_routine_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutinesApi#complete_routine_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a routine.
    # @param create_routine_request [CreateRoutineRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Routine]
    def create_routine(create_routine_request, opts = {})
      data, _status_code, _headers = create_routine_with_http_info(create_routine_request, opts)
      data
    end

    # Create a routine.
    # @param create_routine_request [CreateRoutineRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Routine, Integer, Hash)>] Routine data, response status code and response headers
    def create_routine_with_http_info(create_routine_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutinesApi.create_routine ...'
      end
      # verify the required parameter 'create_routine_request' is set
      if @api_client.config.client_side_validation && create_routine_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_routine_request' when calling RoutinesApi.create_routine"
      end
      # resource path
      local_var_path = '/v1/routines'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_routine_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Routine'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RoutinesApi.create_routine",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutinesApi#create_routine\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a routine.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_routine(id, opts = {})
      delete_routine_with_http_info(id, opts)
      nil
    end

    # Delete a routine.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_routine_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutinesApi.delete_routine ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RoutinesApi.delete_routine"
      end
      # resource path
      local_var_path = '/v1/routines/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RoutinesApi.delete_routine",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutinesApi#delete_routine\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch a routine.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Routine]
    def get_routine(id, opts = {})
      data, _status_code, _headers = get_routine_with_http_info(id, opts)
      data
    end

    # Fetch a routine.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Routine, Integer, Hash)>] Routine data, response status code and response headers
    def get_routine_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutinesApi.get_routine ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RoutinesApi.get_routine"
      end
      # resource path
      local_var_path = '/v1/routines/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Routine'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RoutinesApi.get_routine",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutinesApi#get_routine\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List runs for a routine.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [RoutineRunListResponse]
    def list_routine_runs(id, opts = {})
      data, _status_code, _headers = list_routine_runs_with_http_info(id, opts)
      data
    end

    # List runs for a routine.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RoutineRunListResponse, Integer, Hash)>] RoutineRunListResponse data, response status code and response headers
    def list_routine_runs_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutinesApi.list_routine_runs ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RoutinesApi.list_routine_runs"
      end
      # resource path
      local_var_path = '/v1/routines/{id}/runs'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RoutineRunListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RoutinesApi.list_routine_runs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutinesApi#list_routine_runs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List routines for the caller's workspace.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :workspace_id 
    # @option opts [String] :status 
    # @return [RoutineListResponse]
    def list_routines(opts = {})
      data, _status_code, _headers = list_routines_with_http_info(opts)
      data
    end

    # List routines for the caller&#39;s workspace.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :workspace_id 
    # @option opts [String] :status 
    # @return [Array<(RoutineListResponse, Integer, Hash)>] RoutineListResponse data, response status code and response headers
    def list_routines_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutinesApi.list_routines ...'
      end
      # resource path
      local_var_path = '/v1/routines'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'workspaceId'] = opts[:'workspace_id'] if !opts[:'workspace_id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RoutineListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RoutinesApi.list_routines",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutinesApi#list_routines\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Trigger an ad-hoc run.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [RoutineRun]
    def run_routine_now(id, opts = {})
      data, _status_code, _headers = run_routine_now_with_http_info(id, opts)
      data
    end

    # Trigger an ad-hoc run.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RoutineRun, Integer, Hash)>] RoutineRun data, response status code and response headers
    def run_routine_now_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutinesApi.run_routine_now ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RoutinesApi.run_routine_now"
      end
      # resource path
      local_var_path = '/v1/routines/{id}/run-now'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RoutineRun'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RoutinesApi.run_routine_now",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutinesApi#run_routine_now\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a routine.
    # @param id [String] 
    # @param update_routine_request [UpdateRoutineRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Routine]
    def update_routine(id, update_routine_request, opts = {})
      data, _status_code, _headers = update_routine_with_http_info(id, update_routine_request, opts)
      data
    end

    # Update a routine.
    # @param id [String] 
    # @param update_routine_request [UpdateRoutineRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Routine, Integer, Hash)>] Routine data, response status code and response headers
    def update_routine_with_http_info(id, update_routine_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutinesApi.update_routine ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RoutinesApi.update_routine"
      end
      # verify the required parameter 'update_routine_request' is set
      if @api_client.config.client_side_validation && update_routine_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_routine_request' when calling RoutinesApi.update_routine"
      end
      # resource path
      local_var_path = '/v1/routines/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_routine_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Routine'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RoutinesApi.update_routine",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutinesApi#update_routine\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Worker reports progress.
    # @param id [String] 
    # @param routine_run_progress_request [RoutineRunProgressRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RoutineRun]
    def update_routine_run_progress(id, routine_run_progress_request, opts = {})
      data, _status_code, _headers = update_routine_run_progress_with_http_info(id, routine_run_progress_request, opts)
      data
    end

    # Worker reports progress.
    # @param id [String] 
    # @param routine_run_progress_request [RoutineRunProgressRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RoutineRun, Integer, Hash)>] RoutineRun data, response status code and response headers
    def update_routine_run_progress_with_http_info(id, routine_run_progress_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutinesApi.update_routine_run_progress ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RoutinesApi.update_routine_run_progress"
      end
      # verify the required parameter 'routine_run_progress_request' is set
      if @api_client.config.client_side_validation && routine_run_progress_request.nil?
        fail ArgumentError, "Missing the required parameter 'routine_run_progress_request' when calling RoutinesApi.update_routine_run_progress"
      end
      # resource path
      local_var_path = '/v1/routines/runs/{id}/progress'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(routine_run_progress_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RoutineRun'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RoutinesApi.update_routine_run_progress",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutinesApi#update_routine_run_progress\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
