=begin
#SpatioAPI

#The REST API that owns every resource in your Spatio workspace: notes, sheets, slides, tasks, calendar events, mail, chat, files, and contacts. SpatioMCP wraps this API; Spatio Desktop reads from it. You can call it directly from your own code.  All requests must be authenticated with a Personal Access Token (`Authorization: Bearer pat_...`) or an OAuth 2.1 access token, and use HTTPS.  Official SDKs (MIT, generated from this spec on every release):  - TypeScript: https://github.com/spatio-labs/spatio-ts (`npm install @spatio-labs/spatio-ts`) - Python: https://github.com/spatio-labs/spatio-py (`pip install spatio-sdk`) - Go: https://github.com/spatio-labs/spatio-go (`go get github.com/spatio-labs/spatio-go`)  This specification is generated from the platform-service Go source on every push to `main`. The spec, not hand-written documentation, is the source of truth: server stubs and SDKs are generated from it, and any drift between the spec and the running service fails CI. 

The version of the OpenAPI document: v1
Contact: hello@spatio.app
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Spatio
  class WorkspacesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Accept a workspace invitation by token. The signed-in user's email must match the invitation. Organization-token accept lives at `POST /v1/organizations/{org}/accept-invitation`. 
    # @param token [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def accept_workspace_invitation(token, opts = {})
      data, _status_code, _headers = accept_workspace_invitation_with_http_info(token, opts)
      data
    end

    # Accept a workspace invitation by token. The signed-in user&#39;s email must match the invitation. Organization-token accept lives at &#x60;POST /v1/organizations/{org}/accept-invitation&#x60;. 
    # @param token [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def accept_workspace_invitation_with_http_info(token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.accept_workspace_invitation ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling WorkspacesApi.accept_workspace_invitation"
      end
      # resource path
      local_var_path = '/v1/invitations/{token}/accept'.sub('{token}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.accept_workspace_invitation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#accept_workspace_invitation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add a member directly (skips invitation flow).
    # @param workspace_id [String] 
    # @param add_workspace_member_request [AddWorkspaceMemberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def add_workspace_member(workspace_id, add_workspace_member_request, opts = {})
      data, _status_code, _headers = add_workspace_member_with_http_info(workspace_id, add_workspace_member_request, opts)
      data
    end

    # Add a member directly (skips invitation flow).
    # @param workspace_id [String] 
    # @param add_workspace_member_request [AddWorkspaceMemberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def add_workspace_member_with_http_info(workspace_id, add_workspace_member_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.add_workspace_member ...'
      end
      # verify the required parameter 'workspace_id' is set
      if @api_client.config.client_side_validation && workspace_id.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_id' when calling WorkspacesApi.add_workspace_member"
      end
      # verify the required parameter 'add_workspace_member_request' is set
      if @api_client.config.client_side_validation && add_workspace_member_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_workspace_member_request' when calling WorkspacesApi.add_workspace_member"
      end
      # resource path
      local_var_path = '/v1/workspaces/{workspaceId}/members'.sub('{workspaceId}', CGI.escape(workspace_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_workspace_member_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.add_workspace_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#add_workspace_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a workspace. Requires `organizationId` in the body — bare \"personal\" workspaces aren't supported on the public API. 
    # @param create_workspace_request [CreateWorkspaceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [WorkspaceEnvelope]
    def create_workspace(create_workspace_request, opts = {})
      data, _status_code, _headers = create_workspace_with_http_info(create_workspace_request, opts)
      data
    end

    # Create a workspace. Requires &#x60;organizationId&#x60; in the body — bare \&quot;personal\&quot; workspaces aren&#39;t supported on the public API. 
    # @param create_workspace_request [CreateWorkspaceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkspaceEnvelope, Integer, Hash)>] WorkspaceEnvelope data, response status code and response headers
    def create_workspace_with_http_info(create_workspace_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.create_workspace ...'
      end
      # verify the required parameter 'create_workspace_request' is set
      if @api_client.config.client_side_validation && create_workspace_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_workspace_request' when calling WorkspacesApi.create_workspace"
      end
      # resource path
      local_var_path = '/v1/workspaces'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_workspace_request)

      # return_type
      return_type = opts[:debug_return_type] || 'WorkspaceEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.create_workspace",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#create_workspace\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Invite a user to a workspace.
    # @param workspace_id [String] 
    # @param create_workspace_invitation_request [CreateWorkspaceInvitationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [WorkspaceInvitation]
    def create_workspace_invitation(workspace_id, create_workspace_invitation_request, opts = {})
      data, _status_code, _headers = create_workspace_invitation_with_http_info(workspace_id, create_workspace_invitation_request, opts)
      data
    end

    # Invite a user to a workspace.
    # @param workspace_id [String] 
    # @param create_workspace_invitation_request [CreateWorkspaceInvitationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkspaceInvitation, Integer, Hash)>] WorkspaceInvitation data, response status code and response headers
    def create_workspace_invitation_with_http_info(workspace_id, create_workspace_invitation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.create_workspace_invitation ...'
      end
      # verify the required parameter 'workspace_id' is set
      if @api_client.config.client_side_validation && workspace_id.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_id' when calling WorkspacesApi.create_workspace_invitation"
      end
      # verify the required parameter 'create_workspace_invitation_request' is set
      if @api_client.config.client_side_validation && create_workspace_invitation_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_workspace_invitation_request' when calling WorkspacesApi.create_workspace_invitation"
      end
      # resource path
      local_var_path = '/v1/workspaces/{workspaceId}/invitations'.sub('{workspaceId}', CGI.escape(workspace_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_workspace_invitation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'WorkspaceInvitation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.create_workspace_invitation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#create_workspace_invitation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch invitation details by token (unauthenticated). Used by the renderer to show invitation context before the user signs in. 
    # @param token [String] 
    # @param [Hash] opts the optional parameters
    # @return [PublicInvitationPayload]
    def get_public_invitation(token, opts = {})
      data, _status_code, _headers = get_public_invitation_with_http_info(token, opts)
      data
    end

    # Fetch invitation details by token (unauthenticated). Used by the renderer to show invitation context before the user signs in. 
    # @param token [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PublicInvitationPayload, Integer, Hash)>] PublicInvitationPayload data, response status code and response headers
    def get_public_invitation_with_http_info(token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.get_public_invitation ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling WorkspacesApi.get_public_invitation"
      end
      # resource path
      local_var_path = '/invitations/{token}'.sub('{token}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PublicInvitationPayload'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.get_public_invitation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#get_public_invitation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch a single workspace by id.
    # @param workspace_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [WorkspaceEnvelope]
    def get_workspace(workspace_id, opts = {})
      data, _status_code, _headers = get_workspace_with_http_info(workspace_id, opts)
      data
    end

    # Fetch a single workspace by id.
    # @param workspace_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkspaceEnvelope, Integer, Hash)>] WorkspaceEnvelope data, response status code and response headers
    def get_workspace_with_http_info(workspace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.get_workspace ...'
      end
      # verify the required parameter 'workspace_id' is set
      if @api_client.config.client_side_validation && workspace_id.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_id' when calling WorkspacesApi.get_workspace"
      end
      # resource path
      local_var_path = '/v1/workspaces/{workspaceId}'.sub('{workspaceId}', CGI.escape(workspace_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WorkspaceEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.get_workspace",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#get_workspace\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the caller's workspaces (across organizations).
    # @param [Hash] opts the optional parameters
    # @return [WorkspaceListResponse]
    def list_my_workspaces(opts = {})
      data, _status_code, _headers = list_my_workspaces_with_http_info(opts)
      data
    end

    # List the caller&#39;s workspaces (across organizations).
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkspaceListResponse, Integer, Hash)>] WorkspaceListResponse data, response status code and response headers
    def list_my_workspaces_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.list_my_workspaces ...'
      end
      # resource path
      local_var_path = '/v1/workspaces'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WorkspaceListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.list_my_workspaces",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#list_my_workspaces\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List pending workspace invitations.
    # @param workspace_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [WorkspaceInvitationListResponse]
    def list_workspace_invitations(workspace_id, opts = {})
      data, _status_code, _headers = list_workspace_invitations_with_http_info(workspace_id, opts)
      data
    end

    # List pending workspace invitations.
    # @param workspace_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkspaceInvitationListResponse, Integer, Hash)>] WorkspaceInvitationListResponse data, response status code and response headers
    def list_workspace_invitations_with_http_info(workspace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.list_workspace_invitations ...'
      end
      # verify the required parameter 'workspace_id' is set
      if @api_client.config.client_side_validation && workspace_id.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_id' when calling WorkspacesApi.list_workspace_invitations"
      end
      # resource path
      local_var_path = '/v1/workspaces/{workspaceId}/invitations'.sub('{workspaceId}', CGI.escape(workspace_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WorkspaceInvitationListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.list_workspace_invitations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#list_workspace_invitations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List members of a workspace.
    # @param workspace_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [WorkspaceMemberListResponse]
    def list_workspace_members(workspace_id, opts = {})
      data, _status_code, _headers = list_workspace_members_with_http_info(workspace_id, opts)
      data
    end

    # List members of a workspace.
    # @param workspace_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkspaceMemberListResponse, Integer, Hash)>] WorkspaceMemberListResponse data, response status code and response headers
    def list_workspace_members_with_http_info(workspace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.list_workspace_members ...'
      end
      # verify the required parameter 'workspace_id' is set
      if @api_client.config.client_side_validation && workspace_id.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_id' when calling WorkspacesApi.list_workspace_members"
      end
      # resource path
      local_var_path = '/v1/workspaces/{workspaceId}/members'.sub('{workspaceId}', CGI.escape(workspace_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WorkspaceMemberListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.list_workspace_members",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#list_workspace_members\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a member from the workspace.
    # @param workspace_id [String] 
    # @param member_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def remove_workspace_member(workspace_id, member_id, opts = {})
      remove_workspace_member_with_http_info(workspace_id, member_id, opts)
      nil
    end

    # Remove a member from the workspace.
    # @param workspace_id [String] 
    # @param member_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def remove_workspace_member_with_http_info(workspace_id, member_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.remove_workspace_member ...'
      end
      # verify the required parameter 'workspace_id' is set
      if @api_client.config.client_side_validation && workspace_id.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_id' when calling WorkspacesApi.remove_workspace_member"
      end
      # verify the required parameter 'member_id' is set
      if @api_client.config.client_side_validation && member_id.nil?
        fail ArgumentError, "Missing the required parameter 'member_id' when calling WorkspacesApi.remove_workspace_member"
      end
      # resource path
      local_var_path = '/v1/workspaces/{workspaceId}/members/{memberId}'.sub('{workspaceId}', CGI.escape(workspace_id.to_s)).sub('{memberId}', CGI.escape(member_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.remove_workspace_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#remove_workspace_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke a pending workspace invitation.
    # @param workspace_id [String] 
    # @param invitation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def revoke_workspace_invitation(workspace_id, invitation_id, opts = {})
      revoke_workspace_invitation_with_http_info(workspace_id, invitation_id, opts)
      nil
    end

    # Revoke a pending workspace invitation.
    # @param workspace_id [String] 
    # @param invitation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def revoke_workspace_invitation_with_http_info(workspace_id, invitation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.revoke_workspace_invitation ...'
      end
      # verify the required parameter 'workspace_id' is set
      if @api_client.config.client_side_validation && workspace_id.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_id' when calling WorkspacesApi.revoke_workspace_invitation"
      end
      # verify the required parameter 'invitation_id' is set
      if @api_client.config.client_side_validation && invitation_id.nil?
        fail ArgumentError, "Missing the required parameter 'invitation_id' when calling WorkspacesApi.revoke_workspace_invitation"
      end
      # resource path
      local_var_path = '/v1/workspaces/{workspaceId}/invitations/{invitationId}'.sub('{workspaceId}', CGI.escape(workspace_id.to_s)).sub('{invitationId}', CGI.escape(invitation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.revoke_workspace_invitation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#revoke_workspace_invitation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update workspace metadata.
    # @param workspace_id [String] 
    # @param update_workspace_request [UpdateWorkspaceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [WorkspaceEnvelope]
    def update_workspace(workspace_id, update_workspace_request, opts = {})
      data, _status_code, _headers = update_workspace_with_http_info(workspace_id, update_workspace_request, opts)
      data
    end

    # Update workspace metadata.
    # @param workspace_id [String] 
    # @param update_workspace_request [UpdateWorkspaceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkspaceEnvelope, Integer, Hash)>] WorkspaceEnvelope data, response status code and response headers
    def update_workspace_with_http_info(workspace_id, update_workspace_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.update_workspace ...'
      end
      # verify the required parameter 'workspace_id' is set
      if @api_client.config.client_side_validation && workspace_id.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_id' when calling WorkspacesApi.update_workspace"
      end
      # verify the required parameter 'update_workspace_request' is set
      if @api_client.config.client_side_validation && update_workspace_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_workspace_request' when calling WorkspacesApi.update_workspace"
      end
      # resource path
      local_var_path = '/v1/workspaces/{workspaceId}'.sub('{workspaceId}', CGI.escape(workspace_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_workspace_request)

      # return_type
      return_type = opts[:debug_return_type] || 'WorkspaceEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.update_workspace",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#update_workspace\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a member's role.
    # @param workspace_id [String] 
    # @param member_id [String] 
    # @param update_workspace_member_request [UpdateWorkspaceMemberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def update_workspace_member(workspace_id, member_id, update_workspace_member_request, opts = {})
      data, _status_code, _headers = update_workspace_member_with_http_info(workspace_id, member_id, update_workspace_member_request, opts)
      data
    end

    # Update a member&#39;s role.
    # @param workspace_id [String] 
    # @param member_id [String] 
    # @param update_workspace_member_request [UpdateWorkspaceMemberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def update_workspace_member_with_http_info(workspace_id, member_id, update_workspace_member_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.update_workspace_member ...'
      end
      # verify the required parameter 'workspace_id' is set
      if @api_client.config.client_side_validation && workspace_id.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_id' when calling WorkspacesApi.update_workspace_member"
      end
      # verify the required parameter 'member_id' is set
      if @api_client.config.client_side_validation && member_id.nil?
        fail ArgumentError, "Missing the required parameter 'member_id' when calling WorkspacesApi.update_workspace_member"
      end
      # verify the required parameter 'update_workspace_member_request' is set
      if @api_client.config.client_side_validation && update_workspace_member_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_workspace_member_request' when calling WorkspacesApi.update_workspace_member"
      end
      # resource path
      local_var_path = '/v1/workspaces/{workspaceId}/members/{memberId}'.sub('{workspaceId}', CGI.escape(workspace_id.to_s)).sub('{memberId}', CGI.escape(member_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_workspace_member_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.update_workspace_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#update_workspace_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
